<h5 class="mb-4">Personal Information</h5>
<form [formGroup]="profileform" (submit)="updateUserProfile()">
    <mat-form-field appearance="outline" class="mr-4">
        <input matInput  formControlName="firstname" placeholder="First Name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <input matInput formControlName="lastname" placeholder="Last Name">
    </mat-form-field>

    <!-- <h6>Your Gender</h6>
     <mat-radio-group aria-label="Select an option" class="p-3">
         <mat-radio-button value="male" class="mr-4">Male</mat-radio-button>
         <mat-radio-button value="female">Female</mat-radio-button>
     </mat-radio-group>
    -->
    <mat-form-field appearance="outline">
        <input matInput type="date" formControlName="dob" placeholder="DOB">
    </mat-form-field>
    <h6>Mobile Number
            <i class="fa fa-edit" (click)="enableSmsOtp()"></i>
    </h6>
    <mat-form-field appearance="outline">
        <input matInput formControlName="mobile" placeholder="Mobile Number">
    </mat-form-field>
    <ng-container *ngIf="isSMSEdit==true">
        <i (click)="sendSmsOTP()" class="ml-2">Save</i>
    </ng-container>
    <ng-container *ngIf="isSMSOtpSent==true">
        <input matInput  [value]='smsOTP' placeholder="Enter OTP">
        <button mat-button (click)="verifyAndSaveMobileNumber()">Verify</button>
    </ng-container>
        
    <h6>Email Address
        <i class="fa fa-edit" (click)="enableEmailOtp()"></i>
    </h6>
    <mat-form-field appearance="outline">
        <input matInput formControlName="email" placeholder="Email Address"> 
    </mat-form-field>

    <ng-container *ngIf="isEmailEdit==true">
        <i (click)="sendEmailOTP()" class="ml-2">Save</i>
    </ng-container>
    

    <ng-container *ngIf="isEmailOtpSent==true">
        <input matInput  [value]="emailOTP" (input)="emailOTP=$event.target.value"  placeholder="Enter OTP">
        <i (click)="verifyAndSaveEmail()">Verify</i>
    </ng-container>

    <button mat-raised-button type="submit" [disabled]="profileform.invalid" class=" my-2 mx-auto login-login-btn">Update</button>
</form>