.my-profile-box{display: flex;}
.prefix{
    min-width: 38px;width: 38px;
    display: inline-block;margin-right: 2%;
    border: 1px solid#ccc;
    height: 44px;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 31px;
}

.profile-info{
    position: relative;padding: 10px 10px 10px 130px;
    font-size: 14px;
    h6{font-size: 16px;font-weight: 600;}
}
.profile-img{
    position: absolute;width: 90px;height: 90px;
    left: 20px;top: 20px;
}
.profile-img img{max-width: 100%;}
.wishlist-btn{width: 100%;margin: 10px;}
.edit-btn{
    border: 1px solid#ff9600;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-weight: 400;
}
mat-expansion-panel .mat-button{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding: 5px 10px;
}
.list-box{
    border: 1px solid#ccc;
    border-radius: 5px;
}
.my-profile-box .mat-expansion-panel:not([class*="mat-elevation-z"]){
    box-shadow: none;
}
.my-profile-box .mat-expansion-panel-header{
    height: 48px !important;
}

ul{list-style: none;}
.address{
    border: 1px solid #ccc;
}
mat-form-field{margin-right: 10px;min-width: 250px;}

.mx-auto{display: block;}


.form-group{
    input.mat-input-element{
        width: auto;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-size: 14px;
    }
}
.mat-button{
    height: 30px;
    line-height: 31px;
    color: green;
    margin-right: 10px;
}
.form-group{
    display: flex;align-items: baseline;
    a{font-size: 11px;color: #1b3664;margin-left: 15px;}
}
a{cursor: pointer;}
.save{background-color: green;color: white !important;font-size: 11px;padding: 2px 8px;border-radius: 10px;}
.cancel{background-color: #dc2525;color: white !important;font-size: 11px;padding: 2px 8px;border-radius: 10px;}
.verify-btn{
    font-size: 11px;padding: 2px 8px;border-radius: 10px;background-color: #1e4fa3 !important;color: white !important;
}