.my-profile-box{display: flex;}

.profile-info{
    position: relative;padding: 10px 10px 10px 130px;
    font-size: 14px;
    h6{font-size: 16px;font-weight: 600;}
}
.profile-img{
    position: absolute;width: 90px;height: 90px;
    left: 20px;top: 20px;
}
.profile-img img{max-width: 100%;}
.wishlist-btn{width: 100%;margin: 10px;}
.edit-btn{
    border: 1px solid#ff9600;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    font-weight: 400;
}
mat-expansion-panel .mat-button{
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    padding: 5px 10px;
}
.list-box{
    border: 1px solid#ccc;
    border-radius: 5px;
}
.my-profile-box .mat-expansion-panel:not([class*="mat-elevation-z"]){
    box-shadow: none;
}
.my-profile-box .mat-expansion-panel-header{
    height: 48px !important;
}
.wishlist-btn{
    width: 80%;
    display: block;
    border: 1px solid #ff9600;
    margin: 15px auto;
}
.order-details{display: flex;justify-content: space-between;}
.view-btn{
    background-color: #ff9600;
    height: 30px;
    line-height: 30px;
    font-weight: 400;
}
ul{list-style: none;}
.address{
    border: 1px solid #ccc;
}
mat-form-field{margin-right: 10px;}

.mx-auto{display: block;}

.uns-btn{
    width: 86%;
    display: block;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 1px solid#ccc;
}
.form-group{
    input.mat-input-element{
        width: auto;
        border: 1px solid #ccc;
        padding: 5px 10px;
        font-size: 14px;
    }
}
.mat-button{
    height: 30px;
    line-height: 31px;
    color: green;
    margin-right: 10px;
}
