<div class="text-center-xs">
    <h5 class="mb-4">Personal Information</h5>
    <form [formGroup]="profileform" (submit)="updateUserProfile()" class="profile-form">
        <h6>First Name :</h6>
        <mat-form-field appearance="outline" class="mr-4">
            <input matInput  formControlName="firstname" placeholder="First Name">
        </mat-form-field>
        <h6>Last Name :</h6>
        <mat-form-field appearance="outline">
            <input matInput formControlName="lastname" placeholder="Last Name">
        </mat-form-field>

        <!-- <h6>Your Gender</h6>
        <mat-radio-group aria-label="Select an option" class="p-3">
            <mat-radio-button value="male" class="mr-4">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
        </mat-radio-group>
        -->
        <h6>DOB</h6>
    <!--  <mat-form-field appearance="outline">
            <input matInput type="date" formControlName="dob"  placeholder="DOB">
        </mat-form-field>
    -->
        <mat-form-field appearance="outline" class="dob">
                <input matInput [matDatepicker]="picker" placeholder="dd/mm/yyyy" formControlName="dob"
                
                (dateChange)="date($event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <h6>Mobile Number
            <ng-container *ngIf="isSMSEdit==false">
                <i class="fa fa-edit" (click)="enableSmsOtp()"></i>
            </ng-container>
            
        </h6>
        <mat-form-field class="prefix">
            <input matInput value="+1" disabled>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput formControlName="mobile" placeholder="Mobile Number">
        </mat-form-field>

        <ng-container *ngIf="isSMSEdit==true">
            <a (click)="sendSmsOTP()" class="ml-2 save">Save</a>
        </ng-container>
        <ng-container *ngIf="isSMSEdit==true">
            <a (click)="cancelMobileUpdate()" class="ml-2 cancel">Cancel</a>
        </ng-container>

        <ng-container *ngIf="isSMSOtpSent==true">
            <div class="form-group">
                <input matInput  [value]='smsOTP' (input)="smsOTP=$event.target.value" placeholder="Enter OTP">
                <a (click)="verifyAndSaveMobileNumber()" class="verify-btn">Verify</a>
            </div>
        </ng-container>
            
        <h6>Email
            <ng-container *ngIf="isEmailEdit==false">
                <i class="fa fa-edit" (click)="enableEmailOtp()"></i>
            </ng-container>    
        </h6>
        <mat-form-field appearance="outline">
            <input matInput formControlName="email" placeholder="Email Address"> 
        </mat-form-field>
        
        <ng-container *ngIf="isEmailEdit==true">
            <a (click)="sendEmailOTP()" class="ml-2 save">Save</a>
        </ng-container>
        <ng-container *ngIf="isEmailEdit==true">
            <a (click)="cancelEmailUpdate()" class="ml-2 cancel">Cancel</a>
        </ng-container>
        
        <ng-container *ngIf="isEmailOtpSent==true">
            <div class="form-group">
                <input matInput  [value]="emailOTP" (input)="emailOTP=$event.target.value"  placeholder="Enter OTP">
                <a (click)="verifyAndSaveEmail()" class="verify-btn">Verify</a>
            </div>
        </ng-container>    

        <button mat-raised-button type="submit" [disabled]="profileform.invalid" class=" my-2 mx-auto login-login-btn">Update</button>
    </form>
</div>