
<h5 class="mb-4">My Reviews</h5>
<div class="review-order py-4">
    <div class="order-image">
        <img src="../../../../assets/img/5.jpeg">
    </div>
    <div class="review-order-details">
        <p class="product-name">Rock Hudson Casual Top</p>
        <p class="my-1">
            <b>
            <span class="mr-1 rate-product">4.6<i class="fa fa-star"></i></span>
            <span class="ml-4">Nice</span>
            </b>
        </p>
        <p class="my-1">Product Description</p>

        <p class="certified">Deals Customer Cerified Buyer <span>09/11/2019</span></p>

        <button mat-button class="edit-btn">Edit</button>
        <button mat-button class="delete-btn">Delete</button>
        <button mat-button class="share-btn">Share</button>
    </div>
</div>