<!-- ---  personal Information ------ -->
<h5 class="mb-4">Personal Information</h5>
<mat-form-field appearance="outline" class="mr-4">
    <input matInput placeholder="First Name">
</mat-form-field>
<mat-form-field appearance="outline">
    <input matInput placeholder="Last Name">
</mat-form-field>

<h6>Your Gender</h6>
<mat-radio-group aria-label="Select an option" class="p-3">
    <mat-radio-button value="male" class="mr-4">Male</mat-radio-button>
    <mat-radio-button value="female">Female</mat-radio-button>
</mat-radio-group>
      
<h6>Mobile Number <button mat-button><i class="fa fa-edit"></i></button></h6>
<mat-form-field appearance="outline">
    <input matInput placeholder="Mobile Number">
</mat-form-field>

<h6>Email <button mat-button><i class="fa fa-edit"></i></button></h6>
<mat-form-field appearance="outline">
    <input matInput placeholder="Email">
</mat-form-field>
<!-- ---  personal Information ------ -->



