<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>About Us</title>
</head>

<body>
<h1>About Us</h1>
<p>DealsBargain is an associate company of Itech Reach Inc. whose primary 
 area of business is Information Technology, which was established in 2011 
 in the United States. It offers valuable IT services to various well known 
 MNC clients.</p>
<p>The core team of Itech Reach Inc., has envisaged DealsBargain as a business 
 entity, which was incorporated in 2016. It ventured into e-commerce and 
 has been successfully launched in the United States. It shortly plans 
 to expand internationally (Canada, Germany, Australia, Ethiopia and India). 
 </p>
<p>DealsBargain exists with an aim to minimize demand-supply gap in a wide 
 variety of consumer goods and its allied services between sellers and 
 buyers in various geographical locations. It establishes a win-win situation 
 for both ends, which ensures improved sales deals for sellers and best 
 shopping deals experience for buyers. &#160;</p>
<p>Here at DealsBargain, we are committed to bring the best deals at your 
 fingertips without having to search through various vendor sites. We ensure 
 that our customers get quality products at the best prices. Finding great 
 deals for your favorite products is no more a hassle, it is just one click 
 away! </p>
<p>Best Deals for:</p>
<li>Sellers: Transcend geographical markets to reach potential customers to increase 
 sales volume in no time. </li>
<li>Buyers: Reaching virtually every merchandiser to find the best deals and products 
 they need. </li>
<p>DealsBargain - always ensures to offer the best deals and products at 
 best price.</p>
<h2>Our Vision</h2>
<p>To facilitate profitable platform for sellers and buyers: </p>
<li>Enable small-to-large enterprises (sellers) to increase their visibility and 
 accessibility for better sales.</li>
<li>Provide (buyers) best and economical online shopping deals on wide variety of 
 products with no-compromise on quality. </li>
<h2>Core Values</h2>
<p>These values are an absolute expression of what is essential to DealsBargain 
 as a Team and Business. Here are the 4 core values that we operate by:</p>
<h3>Communication</h3>
<p>We strive to build continuous relationship with our customers, to connect, 
 ask for feedback and to show appreciation.</p>
<h3>Transparency</h3>
<p>A transparent work environment builds trust and the trust drives our 
 organization to its success</p>
<h3>Accountability</h3>
<p>We take ownership not just for the process but for the deliverable as 
 well.</p>
<h3>Respect</h3>
<p>Both internal/external customers are valuable to us and every interaction 
 is an opportunity to show respect.</p>
<h2>Benefits</h2>
<p>With DealsBargain, your products reach millions of customers effortlessly, 
 with large numbers of orders, we convert sales to profits and you will 
 get all your payments on time. </p>
<h2>Advertising</h2>
<p>Advertising through DealsBargain Sponsored Product Ads - gives your 
 products extra visibility, you save effort in cataloging and increase 
 your sales.</p>
<h2>Our Team</h2>
<p>Our effective business operations are backed by hardcore industry experts 
 from e-commerce, supply-chain and customer relationship management sectors. 
 As a result we attain optimum customer satisfaction, offering seamless 
 online business delivery. </p>
<p>Our business operations are headed by:</p>
<li>Suren Pathuri, Founder-Chairperson: A true global citizen and an industry veteran with a concrete two decades 
of experience in Administration, Technology, Supply-chain management and e-Commerce, served for multiple sectors 
and helped in building and expanding business and marketing strategies in accelerating business volumes and profits 
to various organizations and a go-getter. He served for Country the valuable part of his life. 
He holds a Bachelor of science in Electrical engineering from India..</li>
<li>Satya Illa, Chief Technology Officer: A techie with over 15 years of experience 
 in Software development, Website development and management. Mrs. Satya 
 is efficient in handling technical issues and good at maintaining e-commerce 
 business. She holds Master of Computer Applications degree from IGNOU, 
 India.</li>
</body>
</html>
