<footer> 
    <div class="content-container">
        <div class="row">

            <div class="col-sm-6 col-md-3 p-3">
                <h6 class="foo-title">Contact Us</h6>
                <ul class="get-in-touch pl-0">
                    <li class="location">
                        dealsbargain.com<br>605 Ridgewoods Manor Dr,<br>Ellisville,<br>MO 63038
                    </li>
                    <li class="mail">info@dealsbargain.com</li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 p-3">
                <h6 class="foo-title">Information</h6>
                <ul class="p-0 foo-list">
                    <li><a target="_blank" href="../../../assets/pages/AboutUs.html">About Us</a></li>
                    <li><a [routerLink]="['customer-reviews']">Customer Reviews</a></li>
                    <li><a [routerLink]="['blog']">Blog</a></li>
                    <li><a target="_blank" href="../../../assets/pages/TermsofUse.html">Terms Of Use</a></li>
                    <li><a target="_blank" href="../../../assets/pages/PrivacyPolicy.html">Privacy Policy</a></li>
                    <li><a target="_blank" href="../../../assets/pages/ShippingPolicy.html">Shipping Policy</a></li>
                    <li><a target="_blank" href="../../../assets/pages/CancellationandReturnPolicy.html">Return Policy</a></li>
                    <li><a target="_blank"  href="../../../assets/pages/faqs.html">FAQs</a></li>
                </ul>
            </div>
            
            <div class="col-sm-6 col-md-3 p-3">
                <h6 class="foo-title">Customer Service</h6>
                <ul class="p-0 foo-list">
                    <li><a (click)="navigatetoMyProfile()">My Account</a></li>           
                    <li><a target="_blank" [routerLink]="['contactus']">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 p-3">
                <h6 class="foo-title">Connect With Us</h6>
                <ul class="p-0 foo-list social">
                    <li> <a target="_blank" href="mailto:info@dealsbargain.com"><img src="./assets/img/mail.png"> Email Signup</a></li>
                    <li> <a target="_blank" href="https://www.facebook.com/dealsbargainofficial/"><img src="./assets/img/facebook.png"> Facebook</a></li>
                    <li><a><img src="./assets/img/instagram.png"> Instagram</a></li>
                    <li><a  target="_blank" href="https://www.twitter.com/DealsbargainO/"><img src="./assets/img/twitter-sign.png"> Twitter</a></li>
                    <li><a><img src="./assets/img/chat-bubble.png"> SMS <span style="color: #db3d00;">dealbargain</span> to <b>57836</b></a></li>
                </ul>
            </div>

           
        </div>
    </div>
    <div class="payment-options">
        <div class="content-container">
            <span>&copy; copyrights reserved</span>

            <div class="avail-payment">
                <img src="../../../assets/img/payment.jpg">
            </div>
        </div>
    </div>
    
</footer>