<footer style="background-color: #fefefe"> 
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6 col-md-3 p-4">
                <h6 class="foo-title">Contact Us</h6>
                <ul class="get-in-touch pl-0">
                    <li class="location">
                        dealsbargain.com
                    </li>
                    <li class="mail">Email-info@dealsbargain.com</li>
                    <li class="phone"><span>phone-1:98012121237, <br>
                        phone-1:040-98675421</span></li>
                    
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 p-4">
                <h6 class="foo-title">About Market</h6>
                <ul class="pl-3 foo-list">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Market Reviews</a></li>
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Site Map</a></li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 p-4">
                <h6 class="foo-title">Customer Service</h6>
                <ul class="pl-3 foo-list">
                    <li><a href="#">Shipping Policy</a></li>
                    <li><a href="#">Compensation First</a></li>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 p-4">
                <h6 class="foo-title">Payment & Shipping</h6>
                <ul class="pl-3 foo-list">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Shipping Guide</a></li>
                    <li><a href="#">Loacation We Ship To</a></li>
                    <li><a href="#">Estimated Delivery Time</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="payment-options pb-2" style="background-color: #fefefe">
        <span>&copy; copyrights reserved</span>
        <div class="avail-payment d-none d-sm-block">
            <p>Payment Options</p>
            <img src="../../assets/img/paypal.jpg">
            <img src="../../assets/img/paypal-credit_thumb1200_4-3.jpg">
            <img src="../../assets/img/Mastercard-PNG-Picture.png">
            <img src="../../assets/img/visa.jpg">
            <img src="../../assets/img/discover.jpg">
            <img src="../../assets/img/ame.jpg">
        </div>
    </div>
</footer>