<footer> 
    <div class="content-container">
        <div class="row">

            <div class="col-sm-6 col-md-4 p-4">
                <h6 class="foo-title">Contact Us</h6>
                <ul class="get-in-touch pl-0">
                    <li class="location"><b>Address : </b>
                        R/o  605, Ridgewoods Manor Dr, EllisVille, USA
                    </li>
                    <li class="mail"><b>Email : </b> support@dealsbargain.com</li>
                    <li>
                        <a><img src="../../../assets/img/facebook.png"></a>
                        <a><img src="../../../assets/img/twitter-sign.png"></a>
                        <a><img src="../../../assets/img/instagram.png"></a>
                        <a><img src="../../../assets/img/linkedin.png"></a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-md-3 p-4">
                <h6 class="foo-title">About Market</h6>
                <ul class="p-0 foo-list">
                    <li><a target="_blank" [routerLink]="['aboutus']">About Us</a></li>
                    <li><a target="_blank"[routerLink]="['marketreview']">Market Reviews</a></li>
                    <li><a target="_blank"[routerLink]="['termsofuse']">Terms Of Use</a></li>
                    <li><a target="_blank"[routerLink]="['privacypolicy']">Privacy Policy</a></li>
                    <li><a target="_blank"[routerLink]="['sitemap']">Site Map</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 p-4">
                <h6 class="foo-title">Payment & Shipping</h6>
                <ul class="p-0 foo-list">
                    <li><a target="_blank" [routerLink]="['termsofuse']">Terms Of Use</a></li>
                    <li><a target="_blank" [routerLink]="['paymentmethods']">Payment Methods</a></li>
                    <li><a target="_blank" [routerLink]="['shippingguide']">Shipping Guide</a></li>
                    <li><a target="_blank" [routerLink]="['locationweship']">Location We Ship To</a></li>
                    <li><a target="_blank" [routerLink]="['estimateddeliverytime']">Estimated Delivery Time</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-2 p-4">
                <h6 class="foo-title">Customer Service</h6>
                <ul class="p-0 foo-list">
                    <li><a target="_blank" [routerLink]="['shippingpolicy']">Shipping Policy</a></li>
                    <li><a target="_blank" [routerLink]="['compensation']">Compensation First</a></li>
                    <li><a target="_blank" [routerLink]="['myaccount']">My Account</a></li>
                    <li><a target="_blank" [routerLink]="['returnpolicy']">Return Policy</a></li>
                    <li><a target="_blank" [routerLink]="['contactus']">Contact Us</a></li>
                </ul>
            </div>

           
        </div>
    </div>

    <div class="payment-options pb-2">
        <span>&copy; copyrights reserved</span>

        
        <div class="avail-payment">
            <img src="../../assets/img/paypal.jpg">
        </div>
    </div>
</footer>