.mat-raised-button{
    min-width: auto;
    padding: 0px 15px;
    box-shadow: none;
}

.rate {
    float: left;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
mat-form-field{
    clear: both;
}
textarea{resize: none;}
.mat-dialog-title{
    padding: 13px 24px;
    background-color: #a69f9f;
    color: #fff;
    margin: 0px;
}
.mat-dialog-content{
    margin: 0px;
    font-size: 14px;
    max-height: none;
    overflow: hidden;
}
.mat-dialog-actions{
    display: block;
    text-align: center;
    margin: 10px 0px 20px;
    padding: 0px 24px;
    .mat-raised-button{
        background-color: #214c94;
        color: #fff;
        &.close-btn{
            background-color: #e32424;
            color: #fff;
        }
    }
}
.mat-error{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .cont{
      background: url('../../../assets/img/71.jpg') no-repeat;
      background-size: cover;
      margin: -10px -15px -15px -15px;
      padding: 30px 0px 40px 0px;
  }
  .login-btn{
      width: 100%;
      padding-left: 33%;
      text-align: left;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      font-weight: 400;
      background-color: #f2f2f2;
  }
  
  .login-logo{position: absolute;left: 21%;top: 6px;width: 23px;}

mat-checkbox{
    display: block;
}

