<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Cancellation and Return Policy</title>
</head>

<body>
<h1>Cancellation and Return Policy</h1>
<p><i>DealsBargain</i> allows you to 
 cancel the ordered product before the item was delivered. If the payment 
 is done through Online, the amount you paid will be credited to your account 
 in 7 working days.</p>
<p>&#160;</p>
<p><i>DealsBargain</i> also allows you to return the delivered product only in 
 the following cases:</p>
<li>You are not satisfied with the quality of the product</li>
<li>Delivered product was different from the ordered product</li>
<li>Product was delivered beyond the expected delivery time</li>
<p>&#160;</p>
<h2>Frequently Asked Questions</h2>
<li>When can I cancel my Order?</li>
<p>&#160;</p>
<li>On what circumstances I can refund my delivered product?</li>
<p>&#160;</p>
<li>If I request for a replacement, when will I get it?</li>
<p>&#160;</p>
<li>Which products are not eligible for returns?</li>
<p>&#160;</p>
<li>Can items be returned after the time period mentioned in the seller's Returns Policy?</li>
<p>&#160;</p>
<li>Do I have to return the freebie when I return a product?</li>
<p>&#160;</p>
<li>How do returns work?</li>
<p>&#160;</p>
<li>I see the 'Cancel' button but I can't click on it. Why?</li>
<p>&#160;</p>
<li>What is the Buyer Protection policy?</li>
<p>&#160;</p>
<li>What should I do if I have an issue with my product after the return period?</li>
<p>&#160;</p>
<li>What are the checks done for an item that I'm returning?</li>
<p>&#160;</p>
<li>How can I return or exchange an item?</li>
<p>&#160;</p>
<li>When is a return of an item not possible?</li>
<p>&#160;</p>
<li>How can I know the status of my refund?</li>
<p>&#160;</p>
<li>What are the modes of refund available after cancellation?</li>
<p>&#160;</p>
<li>When are refunds given?</li>
<p>&#160;</p>
<li>I ordered a wrong item. Can I return it?</li>
<p>&#160;</p>
<li>What should I do if I find the package open or tampered on delivery?</li>
<p>&#160;</p>
<li>Can I change the address for the pick-up the of item(s) in my order?</li>
<p>&#160;</p>
<li>Why have I been asked to ship the item?</li>
<p>&#160;</p>
<li>What is the pickup process?</li>
<p>&#160;</p>
<li>I have requested for a return for my item. When will it happen?</li>
<p>&#160;</p>
<li>I have requested a replacement, when will I get it?</li>
<p>&#160;</p>
<li>I have still not received the refund in my bank account.</li>
<p>&#160;</p>
<li>What are the refund timelines if I cancel or return a product?</li>
<p>&#160;</p>
<li>How will I get my refund for returning an item I paid for using 'Cash on Delivery' mode?</li>
<p>&#160;</p>
<li>I have not received the reimbursement of my courier charges. What should I do?</li>
<p>&#160;</p>
<li>How will I get my refund for returning an item I paid for with Cash on Delivery?</li>
<p>&#160;</p>
<li>How long does it take to cancel an order?</li>
<p>&#160;</p>
<li>What can I return?</li>
<p>&#160;</p>
<li>How to return items?</li>
<p>&#160;</p>
<li>What are the return guidelines?</li>
<p>&#160;</p>
<li>Where can I view status of return?</li>
<p>&#160;</p>
<li>When will I get my refund?</li>
<p>&#160;</p>
<li>Can my order be replaced?</li>
<p>&#160;</p>
<li>How can I return a Gift?</li>
<p>&#160;</p>
<li>How can I return a Gift Card?</li>
<p>&#160;</p>
<li>Can I return a Global Store Product?</li>
<p>&#160;</p>
</body>
</html>
