<mat-card>
    <h4 class="mb-4 text-center">Submit a request</h4>
    <form action="">
        <h6>Email/Mobile Number</h6>
        <mat-form-field appearance="outline">
            <input matInput placeholder="Email or Mobile Number">
        </mat-form-field>
        <h6>Subject</h6>
        <mat-form-field appearance="outline">
            <input matInput placeholder="subject">
        </mat-form-field>
        <h6>Order Number</h6>
        <mat-form-field appearance="outline">
            <input matInput placeholder="order number">
        </mat-form-field>
        <h6>Tracking Number</h6>
        <mat-form-field appearance="outline">
            <input matInput placeholder="tracking number">
        </mat-form-field>
        <h6>Description</h6>
        <mat-form-field appearance="outline">
            <textarea matInput placeholder="description"></textarea>
        </mat-form-field>
        <h6>Quantity</h6>
        <mat-form-field appearance="outline">
            <input matInput placeholder="quantity">
        </mat-form-field>
        
        <button mat-raised-button class="login-login-btn">Submit</button>
    </form>
</mat-card>