
<button mat-raised-button color="warn" (click)="funClose()" class="close-btn"><i class="fa fa-close"></i></button>
<p class="text-center login-title">Sign up to DealsBargain</p>

<div class="login-container">
    <!-- <div class="login-btn-container mb-5">
        <p class="text-center login-info">EASILY USING</p>

        <button mat-raised-button (click)="loginFacebook();" class="fb-login login-btn">
            <img src="../../.././../assets/img/facebook.png" class="login-logo">FACEBOOK</button>

        <button mat-raised-button (click)="loginGmail();" class="gmail-login login-btn">
            <img src="../../.././../assets/img/search.png" class="login-logo">GOOGLE</button>
    </div> -->

    <!-- <p class="text-center login-info">-OR USING MAIL-</p> -->
<form [formGroup]="userservice.form" class="normal-form w-100 mt-4" (submit)="funRegister()">
        {{this.signUpErrorMsg}}
            <!-- <input type="hidden" formControlName="$key"> -->

        <mat-form-field floatLabel="never" class="w-100">
            <input formControlName="name" matInput placeholder="Name *" >
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="w-100">
            <input formControlName="email" matInput placeholder="Email address *" >
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="w-100">
            <input formControlName="password" type="password" matInput placeholder="Password*" >
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="w-100">
            <input formControlName="mobileno" matInput placeholder="Mobile No*" >
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
                
                       
    <button mat-raised-button type="submit" [disabled]="userservice.form.invalid" class=" my-2 w-100 login-login-btn">SIGN UP</button>
</form>

<div class="login-links mt-3">
    Already have an account?<a mat-button (click)="funSignIn()" style="line-height: 17px;">Log In</a>
</div>
<!-- <p style="color: green;">Need Help ?</p>
<div class="policy"> By signing up or logging in, you aggree to the offerUp
    <span style="color: green;">
        Terms of Service
    </span>and<span style="color: green;"> Privacy Policy</span>
</div>

    <p>Version : 3.34.0(30340002)</p> -->

</div>