<mat-toolbar-row style="height:40px;margin-top: -10px;">
	<ul class="breadcrumb">
		<li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
		<li><a >Sign Up</a></li>
	</ul>
</mat-toolbar-row>
<div class="cont">
<!-- <button mat-raised-button color="warn" (click)="funClose()" class="close-btn"><i class="fa fa-close"></i></button> -->

<div class="login-container">
    <p class="text-center login-title">Sign up to Dealsbargain</p>
    <!-- <p class="text-center login-info my-2">- Sign up with Email -</p> -->
    <form [formGroup]="userservice.form" class="normal-form w-100" (submit)="funRegister()">
        {{this.signUpErrorMsg}}
            <!-- <input type="hidden" formControlName="$key"> -->

        <mat-form-field floatLabel="never" class="w-100" appearance="outline">
            <input formControlName="name" matInput placeholder="Name *" >
            <mat-error *ngFor="let validation of userservice.signup_validation_messages.name">
                    <mat-error class="error-message" *ngIf="userservice.form.get('name').hasError(validation.type) && (userservice.form.get('name').dirty || userservice.form.get('name').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="prefix">
            <input formControlName="mobilenoperfix" matInput>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="w-100 mobile" appearance="outline">
            <input formControlName="mobileno" matInput placeholder="Mobile Number*" >
            <mat-error *ngFor="let validation of userservice.signup_validation_messages.mobileno">
                <mat-error class="error-message" *ngIf="userservice.form.get('mobileno').hasError(validation.type) && (userservice.form.get('mobileno').dirty || userservice.form.get('mobileno').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
        <mat-form-field floatLabel="never" class="w-100" appearance="outline">
            <input formControlName="email" matInput placeholder="Email *" >
            <mat-error *ngFor="let validation of userservice.signup_validation_messages.email">
                <mat-error class="error-message" *ngIf="userservice.form.get('email').hasError(validation.type) && (userservice.form.get('email').dirty || userservice.form.get('email').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
    
        <mat-form-field floatLabel="never" class="w-100" appearance="outline">
            <input formControlName="password" type="password" matInput placeholder="Password*" >
            <mat-error *ngFor="let validation of userservice.signup_validation_messages.password">
                <mat-error class="error-message" *ngIf="userservice.form.get('password').hasError(validation.type) && (userservice.form.get('password').dirty || userservice.form.get('password').touched)">{{validation.message}}</mat-error>
            </mat-error>
        </mat-form-field>
        
        <!-- https://blog.angular-university.io/angular-debugging/-->
        <ng-container *ngIf="issentotp===true">
        <!--    <mat-form-field  floatLabel="never" class="w-100" appearance="outline">
                <input formControlName="smsotp" matInput placeholder="Enter sms OTP*" >
                <mat-error *ngFor="let validation of userservice.signup_validation_messages.smsotp">
                    <mat-error class="error-message" *ngIf="userservice.form.get('smsotp').hasError(validation.type) && (userservice.form.get('smsotp').dirty || userservice.form.get('smsotp').touched)">{{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>-->
            <mat-form-field  floatLabel="never" class="w-100" appearance="outline">
                <input formControlName="emailotp" matInput placeholder="Enter email OTP*" >
                <mat-error *ngFor="let validation of userservice.signup_validation_messages.emailotp">
                    <mat-error class="error-message" *ngIf="userservice.form.get('emailotp').hasError(validation.type) && (userservice.form.get('emailotp').dirty || userservice.form.get('emailotp').touched)">{{validation.message}}</mat-error>
                </mat-error>

            </mat-form-field>
            <span>
                    <a mat-button (click)="funSendEmailOTP()">Resend</a>
            </span>
                
        </ng-container>
        <p class="w-100 mb-3" style="font-size: 13px;">By creating this account, you agree to Dealsbargain
            <a target="_blank" href="../../../../assets/pages/TermsofUse.html">Terms & Conditions</a>
             and 
            <a target="_blank" href="../../../assets/pages/PrivacyPolicy.html">Privacy Policy</a>.</p>
            <!-- https://stackoverflow.com/questions/48443397/mat-error-not-displaying-error-message-angular-5/48443703-->
    <button mat-raised-button type="submit" [disabled]="userservice.form.invalid" class=" mb-2 w-100 login-login-btn">SIGN UP</button>
   
    
  <!--  <mat-error *ngFor="let validation of userservice.signup_validation_messages.aggreecbx">
        <mat-error class="error-message" *ngIf="userservice.form.get('aggreecbx').hasError(validation.type) && (userservice.form.get('aggreecbx').dirty || userservice.form.get('aggreecbx').touched)">{{validation.message}}</mat-error>
    </mat-error>
--> 
    </form>

    <div class="login-btn-container mb-4 mt-2">
        <!-- <p class="text-center login-info mb-3">-OR-</p> -->

        <button mat-raised-button (click)="loginFacebook();" class="fb-login login-btn">
            <span class="login-logo"><i class="fa fa-facebook"></i></span>
            Signup with FACEBOOK</button>

        <button mat-raised-button (click)="loginGmail();" class="gmail-login login-btn">
            <span class="login-logo"><i class="fa fa-google-plus"></i></span>
            Signup with GOOGLE</button>
    </div>

    <!-- <div class="login-links mt-3">
        Already have an account?<a mat-button [routerLink]="['login']" style="line-height: 17px;">Log In</a>
    </div>-->
<!-- <p style="color: green;">Need Help ?</p>
<div class="policy"> By signing up or logging in, you aggree to the offerUp
    <span style="color: green;">
        Terms of Service
    </span>and<span style="color: green;"> Privacy Policy</span>
</div>

    <p>Version : 3.34.0(30340002)</p> -->

</div>
</div>