<mat-toolbar>
    <mat-toolbar-row class="top-toolbar">
        <!-- logo -->
        <div class="logo">
            <img class="img-fluid img-cursor" mat-card-image src="../../../assets/img/DB-Logo.png"
                alt="photo" (click)="gotoHomePage()">
        </div>
        <!-- /#logo -->

        <!-- search bar -->
        <mat-form-field floatLabel="never">
            <input matInput value="search item here..." aria-label="State" [matAutocomplete]="auto" [formControl]="searchMoviesCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let hits of filteredMovies" [value]="hits.title" (click)="searchFromOption(hits)">
                    {{hits.title}}
                </mat-option>
            </mat-autocomplete>
            <button mat-button color="primary" class="search-btn" (click)="search()"><i class="fa fa-search"></i></button>
        </mat-form-field>
        <!-- /#search bar -->


        <!-- login & profile options -->
        <div class="profile-options">
            <a mat-button [routerLink]="['login']" *ngIf="!this.userservice.getAuthToken()"><i class="fa fa-unlock-alt"></i><span>Login & Signup</span></a>
            <ng-container *ngIf="this.userservice.getAuthToken()">
                <button mat-button [matMenuTriggerFor]="menu" #clickHoverMenuTrigger="matMenuTrigger"><i
                        class="fa fa-user"></i><span>{{this.userservice.getProfileInfo().user_name}}</span></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item style="border-bottom: 1px solid #ccc;">
                        <a mat-button [routerLink]="['myprofile', { outlets: { 'profileoutlet': ['profileinfo'] } }]">My Profile</a>
                    </button>
                    <button mat-menu-item style="border-bottom: 1px solid #ccc;">
                        <a mat-button [routerLink]="['myprofile', { outlets: { 'profileoutlet': ['orders'] } }]">My Orders</a>
                    </button>
                    <button mat-menu-item>
                        <a mat-button (click)="signOut()">Logout</a>
                    </button>
                </mat-menu>
                <a mat-button [routerLink]="['myprofile', { outlets: { 'profileoutlet': ['wishlist'] } }]"><i class="fa fa-heart"></i><span class="hide-xs">My Wishlist {{_whishlistService.getItems().length > 0 ? "("+_whishlistService.getItems().length+")" : ''}}</span></a>
            </ng-container>
            <a mat-button [routerLink]="['mycart']"><i class='fa fa-check-square-o'></i><span class="hide-xs">Checkout {{cartService.getItems().length > 0 ? "("+cartService.getItems().length+")" : ''}}</span></a>
        </div>
        <!-- /#login & profile options -->

        <button mat-raised-button class="menu-btn" (click)="toggleMenu()"><i class="fa fa-bars"></i></button>
    </mat-toolbar-row> 
</mat-toolbar>
<div class="menu py-2 text-center" id="menu">
    <app-menu-bar></app-menu-bar>
</div>
<div id="mobile-menu" *ngIf="menuFlag">
    <app-mobile-menu></app-mobile-menu>
</div>



