
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }
  
  p {
    margin: 0;
  }
  .container{max-width: 1300px;margin: auto;}
  .megaMenu + * .cdk-overlay-pane {
    right: 30px;
    left: 30px !important;
    max-height: none !important;
    // top: 220px !important;
  }
 .menu{box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);background: #fff;margin-bottom: 10px;}
  .megaMenu + * .cdk-overlay-pane .mat-menu-panel{
    max-width: none;
    width: calc(100% - 15px) ;
  }
  mat-toolbar{
    background-color: #ff9600 !important;
  }
  .top-toolbar{
    max-width: 1330px;
    margin: auto;
    justify-content: space-between;
    // background-color: #ff9600 !important;
    height: auto !important;
    padding: 5px 15px !important;
    mat-form-field{
      margin-left: 1rem;
      width: 50%;border: 1px solid #ccc;
      background-color: #fafafa;
    
      input{font-size: 14px;padding: 10px;}
      .search-btn{
        position: absolute;
        right: 0px;
        top: -1px;
        min-width: 35px;
        // background: #ff9600;
        color: #666;height: 36px;
        border-radius: 0px;
        @media screen and (max-width:575px){
          display: inline-block;
        }
      }
      @media screen and (max-width:575px){
        display: none;
      }
    }
    
   
    .mat-button{padding: 0px 10px;
      vertical-align: middle;
      line-height: 22px;
      font-size: 13px;
      color: #fff;
      i{display: block;}
      .mat-button-ripple{display: none;}
    }
    .logo{
      flex: 1 1 100%;max-width:120px; 
      cursor: pointer;
    }
  }
  .info-toolbar{height: auto !important;
    padding: 6px 30px 6px 30px !important;
    background: #fff;

    .mat-card{
      padding: 5px 10px;
      box-shadow: none;
      position: relative;
      justify-content: center;
      &::after{
        content: '';
        position: absolute;
        right: 0px;;
        top: 50%;
        transform: translateY(-50%);
        height: 40px;
        width: 1px;
        background-color: #dddbda;
      }
      img{
        height: 70px;margin-right: 15px;
      }
      .info-content{
        font-size: 13px;
        line-height: 21px;
      }
    }
  }
  
  .search-toolbar{
    background-color: #e5e5e5;
    height: auto;
    padding: 5px 30px 5px 30px;
    align-items: end;
  }
  .verticalCategories{
    position: relative;
  }
  @media screen and (max-width: 991px) {
    .search-toolbar{
      .search{
        max-width: 100%;
      }
    }
    
  }

  @media screen and (max-width: 768px) {
    .top-toolbar{padding: 5px 10px;}
    .info-toolbar{
      padding: 10px;
    }
    
  }
  
  @media screen and (max-width: 575px) {
    .top-toolbar{
      .logo{max-width: 20%;}
      .mat-button{
        min-width: 30px;
        span{display: none;}
      }
    }
  }

  