
<mat-toolbar>
    <mat-toolbar-row class="top-toolbar">
        <!-- logo -->
        <div class="logo">
            <img class="img-fluid img-cursor" mat-card-image src="../../assets/img/DealsBargain-Logo.png"
                alt="photo" (click)=gotoHomePage()>
        </div>
        <!-- /#logo -->

        <!-- search bar -->
        <mat-form-field floatLabel="never">
            <input matInput value="search item here..." aria-label="State" [matAutocomplete]="auto" [formControl]="searchMoviesCtrl">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let hits of filteredMovies" [value]="hits._source.title">
                    {{hits._source.title}}
                </mat-option>
            </mat-autocomplete>
            <button mat-button color="primary" class="search-btn" (click)="search()"><i class="fa fa-search"></i></button>
        </mat-form-field>
        <!-- /#search bar -->


        <!-- login & profile options -->
        <div>
            <a mat-button (click)="funSignIn()" *ngIf="!this.userservice.response"><i class="fa fa-unlock-alt"></i><span>Login & Signup</span></a>
            <ng-container *ngIf="this.userservice.response">
                <button mat-button [matMenuTriggerFor]="menu" #clickHoverMenuTrigger="matMenuTrigger"><i
                        class="fa fa-user"></i><span>{{this.userservice.response.name}}</span></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item style="border-bottom: 1px solid #ccc;">
                        <a mat-button [routerLink]="['myprofile']"> Profile</a>
                    </button>
                    <button mat-menu-item style="border-bottom: 1px solid #ccc;">
                        <a mat-button [routerLink]="['orders']">Orders</a>
                    </button>
                    <button mat-menu-item>
                        <a mat-button (click)="signOut()">Logout</a>
                    </button>
                </mat-menu>
                <a mat-button [routerLink]="['wishlist']"><i class="fa fa-heart"></i><span>Wishlist ({{_whishlistService.getItems().length}})</span></a>
            </ng-container>
            <a mat-button [routerLink]="['mycart']"><i class='fa fa-check-square-o'></i><span>Checkout {{cartService.getItems().length > 0 ? "("+cartService.getItems().length+")" : ''}}</span></a>
        </div>
        <!-- /#login & profile options -->
    </mat-toolbar-row> 

</mat-toolbar>
<div class="menu py-2 text-center">
    <app-menu-bar></app-menu-bar>
</div>



