<div class="content-container product-details">
		<mat-toolbar-row>
			{{result}}
			<ul>
				<li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
				<li><a (click)="routeToProductListPage({cname:cname,scname:scname})" routerLinkActive="active">{{productDetails.display_name_category}}</a></li>
				<li><a >{{productDetails.display_name_middle_subcategory}}</a></li>
				<li><a >{{productDetails.display_name_subcategory}}</a></li>
			</ul>
		</mat-toolbar-row>
	<div style="display: flex;" class="mb-4 col-flex">
		<div class="left-details">
			<div class="swiper-container gallery-thumbs" style="height:450px">
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let listitem of items; index as j">
						<img src="{{listitem.data.thumb}}" style="max-height:100%">
					</div>
				</div>
			</div>
			<div class="swiper-container gallery-top" style="height:450px">
				<div class="swiper-wrapper">
					<div class="swiper-slide" *ngFor="let item of items; index as i">
						<img [lightbox]="i" [src]="item.data.thumb" style="max-height:100%">
					</div>
				</div>
			</div>

		</div>

		<div class="right-details pl-3">
			<div>
				<!-- <mat-card class="zoom-viewer mat-elevation-z18 mat-card ng-star-inserted" style="background-image: url(&quot;assets/images/products/keyboard/1-big.png&quot;); background-position: 87.4477% 97.493%; display: none; height: 359px; width: 478px;"></mat-card>-->
				<mat-card class="zoom-viewer mat-elevation-z18 mat-card ng-star-inserted" style="background-position: 87.4477% 97.493%; display: none; height: 359px; width: 478px;"></mat-card>
			</div>

			<h5>
	
				{{productDetails.title}}
				
			</h5>
			<p style="clear: both;align-items: center;"><span class="mr-1 rate-product">
					<ngx-star-rating [ngModel]="product" [id]="'productRating1'" [disabled]="true"></ngx-star-rating>
				<div class="product-rating">
					<div class="stars">
						<ngx-star-rating [ngModel]="productRating" [id]="'productRating'" [disabled]="true"></ngx-star-rating>
						<!-- <b>4.1 out of 5</b> -->
					</div>
					
					<div class="product-rating-bar">
						<p class="mb-2">13 customers ratings</p>
						<p class="progress-line">5star <mat-progress-bar mode="determinate" value="{FiveStar}}"></mat-progress-bar> <span>60%</span></p>
						<p class="progress-line">4star <mat-progress-bar mode="determinate" value="{{FourStar}}"></mat-progress-bar> <span>30%</span></p>
						<p class="progress-line">3star <mat-progress-bar mode="determinate" value="{{ThreeStar}}"></mat-progress-bar> <span>20%</span></p>
						<p class="progress-line">2star <mat-progress-bar mode="determinate" value="{{TwoStar}}"></mat-progress-bar> <span>6%</span></p>
						<p class="progress-line">1star <mat-progress-bar mode="determinate" value="{{OneStar}}"></mat-progress-bar> <span>4%</span></p>
						<a class="py-3 text-center" mat-button >View all Ratings</a>
					</div>
				</div>
			</span><small class="py-1">
					<i class="fa fa-thumbs-up"></i> 8 Recommendations</small>
				
					<span class="float-right">
							<app-wishlist [actionType]="whishlist_action_type" [productInfo]="productDetails"></app-wishlist>
							<button mat-button class="action-btns share">
							<i class="fa fa-share-alt"></i>
							<div class="social-share">
								<a href="">
									<i class="fa fa-facebook-official"></i>
								</a>
								<a href="">
									<i class="fa fa-twitter-square"></i>
								</a>
								<a href="">
									<i class="fa fa-linkedin-square"></i>
								</a>
							</div>
						</button>
					</span>
					
				</p>
			


		<!-- 	<p class="py-3">1000 People have viewed this product</p> -->
			<h4>
				<ng-container *ngIf="productDetails.dealtype!=''">
					{{PRICE_PREFIX}}{{productDetails.deals_bargain_deal_price}}<span class="px-3 stike-off">{{PRICE_PREFIX}}{{productDetails.deals_bargain_supplier_deal_price}}</span>
				</ng-container>
				<ng-container *ngIf="productDetails.dealtype=='' && productDetails.discount=='0'">
					<span class="new_cost">{{PRICE_PREFIX}}{{productDetails.price}}</span>
				</ng-container>
				<ng-container *ngIf="productDetails.dealtype=='' && productDetails.discount!='0'">
					{{PRICE_PREFIX}}{{productDetails.discount_amount}}<span class="px-3 stike-off">{{PRICE_PREFIX}}{{productDetails.price}}</span>				
				</ng-container>
				<ng-container *ngIf="productDetails.discount && productDetails.discount!='0'">
						<span class="px-3 discount">({{productDetails.discount}}% off)</span> 
				</ng-container>
				
			</h4>
			<!-- <div class="p-3 my-3" style="border:1px dashed #ccc;">
				<p>offers: <span class="pl-4">Flat 50% off</span></p>
			</div>
			<p>Select Color</p>
			<div class="py-1">
				<img src="" class="">
			</div>
			<div class="size" ngclass.xs="mt-1">
				<p class="fw-500">Select Size:</p>
				<button mat-raised-button>S</button>
				<button mat-raised-button>M</button>
				<button mat-raised-button>L</button>
				<button mat-raised-button>XL</button>
			</div> -->
			<p style="color: #747474;font-weight: 300;">Brand Name : {{productDetails.brand_name}}</p>
			<h6>Item SKU : {{productDetails.item_sku}}</h6>
			<h6>Condition : {{productDetails.condition}}</h6>
			<h6>Warranty : {{productDetails.warranty ===''? 'No' : productDetails.warranty}}</h6>
			<h6 *ngFor="let keyValPair of product_attributes">
					{{keyValPair.key}} : {{keyValPair.value}}
			</h6>
				
			<div class="py-3 mt-4 lh">
				<ng-container *ngIf="isProductAvailable; else outofstock">
					<a mat-button class="quick-buy" (click)="quickBuy(productDetails)" >Quick Buy</a>
					<a mat-button class="add-bag" (click)="addToCart(productDetails)">ADD TO BAG</a>
				</ng-container>
				<ng-template #outofstock>
					<a mat-button class="add-bag">OUT OF STOCK</a>
				</ng-template>
				
			</div>
			<!-- <p class="py-3">
				<span>Hassle Free Delivery</span>
				<span class="pl-5">Free Shipping</span>
			</p>
			<div class="py-1">
				<P>DELIVERY</P>
				<p class="m-2" style="font-size: 14px;color: #747474;">Enter your pincode to check the delivery time.</p>

				<input matInput placeholder="pincode">
				<a mat-button>Check</a>
			</div>
			<div class="py-1 mt-3 del-details" style="border:1px solid #ccc;">
				<ul>
					<li>Delivery</li>
					<li>Typically Delivered in 11-12 days.</li>
					<li>Standard delivery.</li>
					<li>Cash On Delivery</li>
				</ul>
			</div> -->
		</div>
	</div>

	<mat-accordion class="w-100">
		<mat-expansion-panel [expanded]="true">
			<mat-expansion-panel-header>
				<p class="text-center">PRODUCT DETAILS</p>
			</mat-expansion-panel-header>

			<p>PRODUCT DESCRIPTION</p>
			<p [innerHTML]="productDetails.description"></p>
<!-- 			<div class="py-1">
				<p>
					<span>Product Code: 1234567890</span>
					<br>
					<span>Need Help? Contact Us</span>
				</p>
			</div>-->

		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<p class="text-center">ADDITIONAL INFO</p>
			</mat-expansion-panel-header>
			<mat-grid>
				<p *ngFor="let keyValPair of product_attributes">
						{{keyValPair.key}} : {{keyValPair.value}}
				</p>
			</mat-grid>
		</mat-expansion-panel>

		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<p class="text-center">DISCLAIMER</p>
			</mat-expansion-panel-header>
			<mat-grid>
				<!-- <p class="mb-2">VARANGA:</p>

			Varanga is about handpicking the most unconventional yet extremely exciting designs from artisans and craftsmen from all over India and to deliver them at exceptional value to customers. Our motive is to make you stand out, deviate from the mundane style of dressing and embrace cutting-edge fashion while not burning a hole in your pockets. Adding authentic Indian artwork and fusing it with contemporary design, we are an exclusive destination for ‘The Indian Modern’. The brand focusses on quality material, design, fit and sizing.
			-->
			</mat-grid>
		</mat-expansion-panel>
	</mat-accordion>


	<!-- <mat-toolbar-row>
		<ngx-image-zoom [thumbImage]=myThumbnail [fullImage]=myFullresImage [magnification]="1" [enableScrollZoom]="true" [enableLens]="true"
		 [lensWidth]="500" [lensWidth]="500" [lensTop]="5" [lensLeft]="10" [isInsideStaticContainer]="true" [imgStyle]="'width:515px; height:515px; bottom:0;  left:0;  right:0;  top:0;  margin:0 auto; border:1px solid #dcdcdc;'"
		 [resultStyle]="'width:824px; height:824px; background-repeat: no-repeat; z-index: 2; position:absolute;
						-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
							box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;'" [lensStyle]="'width:155px; height:155px'"
		 [enableZoom]="true" [containerStyle]="'width:400px; height:400px'"></ngx-image-zoom>

	</mat-toolbar-row>
-->

	<!-- Similar Products -->
	<div *ngIf="similarProducts && similarProducts.length >0">
<h5 class="subtitle position-relative"> SIMILAR PRODUCTS
		<!-- <a [routerLink]="['productlist',cname.toLowerCase(),scname]" routerLinkActive="active" class="pl-3">VIEW ALL</a> -->
		<a (click)="routeToProductListPage(prodListRouteInfo)"  class="pl-3">VIEW ALL</a>
	</h5>
	
		<div class="swiper-container similar">
			<div class="swiper-wrapper">
				<div class="swiper-slide" *ngFor="let product of similarProducts; let i = index">
					<mat-card>
						<ng-container *ngIf="product.discount && product.discount!='0'">
							<mat-card-subtitle>
								<span class="badge offer-badge">{{product.discount}}</span>
							</mat-card-subtitle>
						</ng-container>
						<div class="product-img">
							<img class="image img-cursor" mat-card-image src="{{product.image}}" alt="photo" (click)="showProductDetails({cname:product.category,scname:product.subcategory,pid:product.item_id})">
							<!-- <img class="image img-cursor" mat-card-image src="{{product.image}}" alt="photo" (click)="showProductDetails(product.category,product.subcategory,product.item_id)">-->
						</div>
						<mat-card-content class="product-desc">
							<p class="p-title">{{product.item_name}}</p>
							<p class="p-cost">
								<ng-container *ngIf="product.dealtype!=''">
									<span class="old_cost">{{PRICE_PREFIX}}{{product.deals_bargain_supplier_deal_price}}</span>
									<span class="new_cost">{{PRICE_PREFIX}}{{product.deals_bargain_deal_price}}</span>
								</ng-container>
								<ng-container *ngIf="product.dealtype=='' && product.discount=='0'">
									<span class="new_cost">{{PRICE_PREFIX}}{{product.price}}</span>
								</ng-container>
								<ng-container *ngIf="product.dealtype=='' && product.discount!='0'">
									<span class="old_cost">{{PRICE_PREFIX}}{{product.price}}</span>
									<span class="new_cost">{{PRICE_PREFIX}}{{product.discount_amount}}</span>
								</ng-container>
							</p>
						</mat-card-content>
						<mat-card-actions>
							<app-wishlist [actionType]="whishlist_action_type" [productInfo]="product"></app-wishlist>
							<button mat-button class="cart" matTooltip="Add To Cart" (click)="addToCart(product)">
								Add Cart
							</button>
							<button mat-button class="action-btns share">
								<i class="fa fa-share-alt"></i>
								<div class="social-share">
									<a href="">
										<i class="fa fa-facebook-official"></i>
									</a>
									<a href="">
										<i class="fa fa-twitter-square"></i>
									</a>
									<a href="">
										<i class="fa fa-linkedin-square"></i>
									</a>
								</div>
							</button>
						</mat-card-actions>
					</mat-card>
				</div>
			</div>
			<!-- Add Arrows -->
			<div class="swiper-button-next swiper-button-white"></div>
			<div class="swiper-button-prev swiper-button-white"></div>
		</div>
	</div>

	<!-- Similar Products ENd-->
	<!--
	<div class="suggestions">
		<a mat-button>More Kurtas by brands</a>
		<a mat-button>More Kurtas by Color</a>
		<a mat-button>More Kurtas</a>
	</div>
-->
	<div class="reviews">
		<p class="p-3">Reviews & Ratings</p>
		<div class="divider"></div>
		<div class="p-4 rev-content" style="display: flex;justify-content: space-between">
			<!-- <p>
				<span class="rating-top px-1">0</span>/
				<span class="rating-btm px-1">5</span>
			</p>-->
			<p>Do you recommend this product?
				<a mat-raised-button class="ml-4" (click)="isRecommendThisProduct(true)">
					<i class="fa fa-thumbs-up"></i>
				</a>
				<a mat-raised-button class="ml-3">
					<i class="fa fa-thumbs-down" (click)="isRecommendThisProduct(false)"></i>
				</a>
			</p>
			<ng-container *ngIf="this.authToken">
				<a mat-raised-button class="dialog-btn" (click)="openDialog()">Rate this product</a>
			</ng-container>
		</div>
	</div>

</div>