.mat-raised-button{
    min-width: auto;
    padding: 0px 10px;
    box-shadow: none;
    line-height: 39px;
}

.rate {
    unicode-bidi: bidi-override;
    direction: rtl;
    padding: 0 10px;
}

mat-form-field{
    clear: both;
}
.mat-dialog-title{
    padding: 13px 24px;
    background-color: #1b3664;
    color: #fff;
}
.mat-dialog-content{
    margin: 0px;
    font-size: 14px;
    max-height: none;
    overflow: hidden;
}
.mat-dialog-actions{
    margin-top: 10px;
    padding: 0px 24px;
    justify-content: center;
    .mat-raised-button{
        width: 46%;
        border: 1px solid #1b3664;
        color: #1b3664;
    }
    .cancel{ border: 1px solid #dc2525;color: #dc2525;}
}