<div class="content-container mt-4">
    <ng-container *ngIf="shoppingCartItems">
        <div class="order-1 py-3" *ngFor='let cart of shoppingCartItems'>
            <div class="order-item" style="display: flex;">
                <div class="text-center" style="flex: 1 1 20%;max-width: 120px;">
                    <img [src]="cart.image" class="img-cursor">
                </div>
                <div class="order-details pl-3" style="flex: 1 1 40%;max-width: 40%;">
                    <h6>{{cart.item_name}}</h6>
                    <div class="small-cap">{{cart.brand_name}}</div>
                    <p class="p-cost">
                        <ng-container *ngIf="cart.dealtype!=''">
                            <span
                                class="old_cost">{{PRICE_PREFIX}}{{cart.deals_bargain_supplier_deal_price}}</span>
                            <span
                                class="new_cost">{{PRICE_PREFIX}}{{cart.deals_bargain_deal_price}}</span>
                        </ng-container>
                        <ng-container *ngIf="cart.dealtype=='' && cart.discount=='0'">
                            <span class="new_cost">{{PRICE_PREFIX}}{{cart.price}}</span>
                        </ng-container>
                        <ng-container *ngIf="cart.dealtype=='' && cart.discount!='0'">
                            <span class="old_cost">{{PRICE_PREFIX}}{{cart.price}}</span>
                            <span class="new_cost">{{PRICE_PREFIX}}{{cart.discount_amount}}</span>
                        </ng-container>
                    </p>
                </div>
                <div class="" style="flex: 1 1 25%;max-width: 25%;">
                    <div>Expected Delivery by <strong>{{send_date | date}}</strong></div>
                </div>
            </div>
            <div class="options" style="display: flex;">
                <div class="option-btns mt-2" style="flex: 1 1 20%;max-width: 120px;">
                    <button (click)="updateItemCountFromCartComp(cart,false)">-</button>
                    <input matInput class="text-center" value="{{cart.quantity}}" disabled>
                    <button (click)="updateItemCountFromCartComp(cart,true)">+</button>
                </div>
                <div class="mt-2 ml-3" style="flex: 1 1 30%;max-width: 30%;">
                    <button mat-button (click)="removeItemFromCartComp(cart)" class="remove-btn">Remove</button>
                </div>
            </div>
        </div>
        <p class="my-2 text-center">
            <button mat-button class="login-login-btn" [routerLink]="['/productpurchase']">Place ORDER</button>
        </p>
    </ng-container>
</div>