<div class="content-container mt-4">
    <ng-container *ngIf="shoppingCartItems">
        <div class="order-1 py-3" *ngFor='let cart of shoppingCartItems'>
            <div class="order-item" style="display: flex;">
                <div class="text-center" style="flex: 1 1 20%;max-width: 120px;">
                    <img [src]="cart.image" class="img-cursor">
                </div>
                <div class="order-details pl-3" style="flex: 1 1 60%;max-width: 60%;">
                    <h6>{{cart.item_name}}</h6>
                    <div class="small-cap">{{cart.brand_name}}</div>
                    <div class="mt-2 small-cap">Seller: {{cart.master_suplier}}</div>
                    <p class="p-cost">
                        <ng-container *ngIf="cart.deal_type==''">
                            <span class="old_cost">{{cart.supplier_deal_price}}</span>
                            <span class="new_cost">{{cart.deal_price}}</span>
                        </ng-container>
                        <ng-container *ngIf="cart.deal_type=='0'">
                            <span class="new_cost">{{cart.price}}</span>
                        </ng-container>
                        <ng-container *ngIf="cart.deal_type!='0'">
                            <span class="old_cost">{{cart.price}}</span>
                            <span class="new_cost">{{cart.discount_amount}}</span>
                        </ng-container>
                    </p>
                </div>
                <div class="" style="flex: 1 1 25%;max-width: 25%;">
                    <div>Delivery by Nov 20 | Free</div>
                </div>
            </div>
            <div class="options" style="display: flex;">
                <div class="option-btns mt-2" style="flex: 1 1 20%;max-width: 120px;">
                    <button (click)="removeFromCart(cart)">-</button>
                    <input matInput class="text-center" value="{{cart.quantity}}" >
                    <button (click)="addToCart(cart)">+</button>
                </div>
                <div class="mt-2 ml-3" style="flex: 1 1 30%;max-width: 30%;">
                    <button mat-button (click)="removeProduct(cart)" class="remove-btn">Remove</button>
                </div>
            </div>
        </div>
        <p class="my-3">Order Confirmation will be sent to
            <b>dealsbargain@gmail.com</b>
            <button mat-button class="float-right login-login-btn" [routerLink]="['/productpurchase']">Place ORDER</button>
        </p>
    </ng-container>
</div>