
<div class="swiper-container flash-deals">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<mat-card>
				<img src="../../../assets/img/banner5.jpg">
			</mat-card>
		</div>
		<div class="swiper-slide">
			<mat-card>
				<img src="../../../assets/img/banner5.jpg">
			</mat-card>
		</div>
		<div class="swiper-slide">
			<mat-card>
				<img src="../../../assets/img/banner5.jpg">
			</mat-card>
		</div>
	</div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>

<mat-toolbar-row class="info-toolbar my-4">
	<div class="info-bar w-100" fxlayout="row wrap"
		style="flex-flow: row wrap; border:1px solid #ccc; display: flex;">
		
		<div class="info-div" fxflex="100" fxflex.gt-md="25" fxflex.gt-xs="50"
			style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
			<mat-card _ngcontent-faj-c21="" class="light-block mat-card" fxlayout="row"
				fxlayoutalign="start center"
				style="flex-direction: row; box-sizing: border-box; display: flex; align-items: center;">
				<img src="../../../assets/img/shipping.png">
				<div class="info-content">
					<p>FREE SHIPPING</p>
				</div>
			</mat-card>
		</div>
		<div class="info-div" fxflex="100" fxflex.gt-md="25" fxflex.gt-xs="50"
			style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
			<mat-card class="light-block mat-card" fxlayout="row" fxlayoutalign="start center"
				style="flex-direction: row; box-sizing: border-box; display: flex; align-items: center;">
				<!-- <img src="../../assets/img/time-left.png"> -->
				<img src="../../../assets/img/easy returns.jpg">
				<div class="info-content">
					<p>EASY RETURNS</p>
				</div>
			</mat-card>
		</div>
		<div class="info-div" fxflex="100" fxflex.gt-md="25" fxflex.gt-xs="50"
			style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
			<mat-card class="light-block mat-card" fxlayout="row" fxlayoutalign="start center"
				style="flex-direction: row; box-sizing: border-box; display: flex; align-items: center;">
				<img src="../../../assets/img/Secure-Payment-21.png">
				<div class="info-content">
					<p>SECURE PAYMENT</p>
				</div>
			</mat-card>
		</div>
		<div class="info-div" fxflex="100" fxflex.gt-md="25" fxflex.gt-xs="50"
			style="flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
			<mat-card class="light-block mat-card" fxlayout="row" fxlayoutalign="start center"
				style="flex-direction: row; box-sizing: border-box; display: flex; align-items: center;">
				<img src="../../../assets/img/best-deal.png">
				<div class="info-content">
					<p>BEST DEALS</p>
				</div>
			</mat-card>
		</div>
	</div>
</mat-toolbar-row>
<div *ngIf="flashDeals && flashDeals.length >0 ">
<h5 class="subtitle position-relative">FLASH DEALS
		<a [routerLink]="['/dealslist/f']" class="pl-3">VIEW ALL</a>
	</h5>

	<div class="product" fxLayout="row">
		<mat-card class="item-card" *ngFor="let product of flashDeals; let i = index">
			<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
		</mat-card>
	</div>
	
</div>

<!-- hotdeals -->
<div *ngIf="hotDeals && hotDeals.length >0 ">
	<h5 class="subtitle position-relative">HOT DEALS
		<a [routerLink]="['/dealslist/h']" class="pl-3">VIEW ALL</a>
	</h5>
	<div class="product" fxLayout="row">
		<mat-card class="item-card" *ngFor="let product of hotDeals; let i = index">
			<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
		</mat-card>
			<!-- <div class="deal-timer">
				<span class="timerbadge">2 Days Left</span>
			</div> -->	
	</div>
</div>
<!-- hotdeals end-->

<!-- Today deals -->
<div *ngIf="todayDeals && todayDeals.length >0">
	<h5 class="subtitle position-relative">TODAY's DEALS
		<a [routerLink]="['/dealslist/t']" class="pl-3">VIEW ALL</a>
	</h5>
	<div class="product" fxLayout="row">
		<mat-card class="item-card" *ngFor="let product of todayDeals; let i = index">
			<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
		</mat-card>
	</div>
</div>
<!-- Today deals end -->

<!-- Best Sellers -->
<div *ngIf="bestSellers && bestSellers.length >0">
	<h5 class="subtitle position-relative">BEST SELLER's
		<a [routerLink]="['/dealslist/b']" class="pl-3">VIEW ALL</a>
	</h5>
	<div class="product" fxLayout="row">
		<mat-card class="item-card" *ngFor="let product of bestSellers; let i = index">
			<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
		</mat-card>
	</div>
</div>
<!-- Today deals end -->


<ng-template #dealsContentTemplate let-product="productinfo">
	<ng-container *ngIf="product.discount && product.discount!='0'">
		<mat-card-subtitle>
			<span class="badge offer-badge">{{product.discount}}</span>
		</mat-card-subtitle>
	</ng-container>

	<div class="product-img">
		<img class="image img-cursor" mat-card-image src="{{product.image}}" alt="photo" (click)="showProductDetails({cname: product.category, scname: product.subcategory,pid : product.item_id})">
	</div>
	<mat-card-content class="product-desc">
		<p class="p-title">
			{{product.item_name}}
		</p>
		<p class="p-cost">
			<ng-container *ngIf="product.dealtype!=''">
				<span class="old_cost">{{PRICE_PREFIX}}{{product.deals_bargain_supplier_deal_price}}</span>
				<span class="new_cost">{{PRICE_PREFIX}}{{product.deals_bargain_deal_price}}</span>
			</ng-container>
			<ng-container *ngIf="product.dealtype=='' && product.discount=='0'">
				<span class="new_cost">{{PRICE_PREFIX}}{{product.price}}</span>
			</ng-container>
			<ng-container *ngIf="product.dealtype=='' && product.discount!='0'">
				<span class="old_cost">{{PRICE_PREFIX}}{{product.price}}</span>
				<span class="new_cost">{{PRICE_PREFIX}}{{product.discount_amount}}</span>
			</ng-container>
		</p>

	</mat-card-content>
	<mat-card-actions>
     	<app-wishlist [actionType]="whishlist_action_type" [productInfo]="product"></app-wishlist>
		<button mat-raised-button class="cart" matTooltip="Add To Cart" (click)="addToCart(product)">
			Add Cart
		</button>
		<button mat-button class="action-btns share">
			<i class="fa fa-share-alt"></i>
			<div class="social-share">
				<a href="http://www.facebook.com/sharer.php?u=https://www.dealsbargain.com/" target="_blank">
					<i class="fa fa-facebook-official"></i>
				</a>
				<a href="http://twitter.com/share?text=dealsbargain&url=https://www.dealsbargain.com/&hashtags=#" target="_blank">
					<i class="fa fa-twitter-square"></i>
				</a>
				<a href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.dealsbargain.com/&title=hashtags&source=deals bargain" target="_blank">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</div>
		</button>
	</mat-card-actions>

</ng-template>