.menu-toolbar{
  height: auto;
  padding: 0px 30px 0px 30px;
  align-items: end;
  
}
.cart{
  margin: 3px 0px;
  background-color: #efa132;
  color: #fff;
  font-size: 13px;
  height: 22px;
  line-height: 22px;
}
.banner-container{
  width: 100%;
}
p{margin: 0px;}
.swiper-container, .swiper-wrapper{
  background-color: transparent;
}
.item-card{
  width: 19%;padding-top: 20px;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.15);
}
.swiper-slide{
  mat-card{
    display: block;
    height: 400px;
    img{width: 100%;height: 100%;}
  }
}
.fa-heart{
  color: #ff517b !important;
}
.fa-share-alt{
  color: blue !important;
}
.banner-container,.product {
  .item-card, .swiper-slide{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 10px 10px;
    text-align: center;
    // min-width: 280px;
    // max-width: 300px !important;
    .offer-badge{
      position: absolute;
      top: 0px;
      right: 45px;
      width: 47px;
      height: 50px;
      background-color: #dd300d;
      color:#fff;
      line-height: 33px;
      text-align: center;
      background: url('../../../assets/img/badge.png') no-repeat;
    }
    .product-img {
      // width: 130px;
      overflow: hidden;
      height:210px;
      display: block;
      margin: auto;
    }
    .p-title{
      white-space: pre-wrap;
      margin: 2px 0px;
      font-size: 13px;
      height: 42px;
      overflow: hidden;
      margin-top: 10px;
    }
    .p-cost{
      // border-bottom: 2px solid #f7f7f7;
      padding-bottom: 5px;
    }
   
    mat-card-actions{
      display: block;
      border-top: 2px solid #f7f7f7;
      margin-top: 10px;
      border: 2px solid #ccc;
    }
  
    app-wishlist{
      .action-btns{
        min-width: 40px;padding: 0px;
      }
    }
    .share{
      position: relative;
      &:hover{
        .social-share{display: inline-block;
          i{font-size: 19px;}
        }
      }
    }
  }
}
.product{
  justify-content: space-between;
  mat-card{
    max-width: 280px;
    position: relative;
  }
}
.social-share{
  display: none;
  width: 50px;
  position: absolute;
  top: -55px;
  left: 25px;
  a{
    display: block;
    line-height: 30px;
  }
}
.deal-timer{
  position: absolute;
  left: -5px;
  top: -3px;
}
.timerbadge{
  color: #FFF !important;
  background: #dd300d;
  height: 18px;
  white-space: nowrap;
  padding: 3px 5px;
  overflow: hidden;
  font-size: 13px;
}
.timerbadge::after{
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid #dd300d;
  border-left: 10px solid transparent;
  position: absolute;
  left: 0px;
  bottom: -9px;
}
.swiper-button-next:after, .swiper-button-prev:after{
  font-size: 14px;
  color: #000;
}
.swiper-button-next, .swiper-button-prev{
  width: 30px;height: 30px;
  border-radius: 50%;
  background-color: #ff9600;
}
.swiper-button-next{
  right: 10px;
}

.bg{background-color: #f5f5f5;}
.product img{
  height: 180px;
  object-fit: contain;
}

.margin-top-20{
  margin-top:20px;
} 

.old_cost{
  font-size: 16px;
  margin-right: 8px;
  text-decoration: line-through;
  color: #686565;
}
.new_cost{
  font-size: 16px;
  color: #ff9600;
  font-weight: 700;
}
.product{
  flex-wrap: wrap;
  mat-card{
    margin-top: 10px;
  }
}

.img-cursor{
  cursor: pointer;
  height: 100%;
}
.subtitle{
  border-bottom: 2px solid #ccc;
  margin-top: 2rem;
  margin-bottom: 1rem;
  a{
    text-decoration: none;
    font-size: 14px;
  }
}
.subtitle::after{
  content: '';
  position: absolute;
  left: 0px;
  bottom: -2px;
  width: 100px;
  height: 2px;
  background-color: #ff9600;
}

.product{
  .p-title{
    height: 45px;
    white-space: pre-wrap !important;
    overflow: hidden !important;
  }
}
.info-toolbar{height: auto !important;
  padding:0px !important;
  background: #fff;
  margin: 10px 0px;

  .mat-card{
    padding: 5px 10px;
    box-shadow: none;
    position: relative;
    justify-content: center;
    &::after{
      content: '';
      position: absolute;
      right: 0px;;
      top: 50%;
      transform: translateY(-50%);
      height: 40px;
      width: 1px;
      background-color: #dddbda;
    }
    
    img{
      height: 65px;margin-right: 15px;
    }
    .info-content{
      font-size: 13px;
      line-height: 21px;
    }
  }
  .info-div:last-child{
    .mat-card{
      &::after{
        display: none;
      }
    }
  }
}
@media screen and (max-width:1024px){
  .item-card{width: 23.5%;}
  .info-toolbar{
    img{height:47px !important;}
  }
}
@media screen and (max-width:991px){
  .item-card{width: 32%;}
}
@media screen and (max-width:768px){
  .menu-toolbar{
    padding: 10px 10px 0px 10px;
    .sidenav{
      display: none;
    }
  }
  .info-div{flex: 1 1 50% !important;max-width:50% !important;}
  .item-card{width: 49%;}
}
@media screen and (max-width:575px){
  .item-card{width: 100%;}
}
.fa-shopping-cart{
  font-size: 18px !important ;
  color: #ff9600 !important;
}
.fa-heart{
  color: #e24e4e;
  font-size: 20px;
}
.fa-share-alt{
  color: #2a7ace;
  font-size: 20px;
}
.action-btns{
  min-width: 40px;padding: 0px;
  i{font-size: 16px;}
}