<div class="menu-toolbar">

	<div class="search px-2 position-relative" style="background-color:#f5f5f5">

		<div class="swiper-container banner-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide" *ngFor="let product of flashDeals; let i = index">
					<mat-card>
						<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
					</mat-card>
				</div>
			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>
		</div>
	</div>
	
</div>

<div class="content-container">
	<!-- hotdeals -->
	<div *ngIf="hotDeals">
		<h5 class="subtitle position-relative">HOT DEALS
			<a [routerLink]="['/dealslist/h']" class="pl-3">VIEW ALL</a>
		</h5>
		<div class="product" fxLayout="row">
			<mat-card class="item-card" *ngFor="let product of hotDeals; let i = index" style="width: 19%;">
				<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
			</mat-card>
				<!-- <div class="deal-timer">
					<span class="timerbadge">2 Days Left</span>
				</div> -->	
		</div>
	</div>
	<!-- hotdeals end-->

	<!-- Today deals -->
	<div *ngIf="todayDeals">
		<h5 class="subtitle position-relative">TODAY's DEALS
			<a [routerLink]="['/dealslist/t']" class="pl-3">VIEW ALL</a>
		</h5>
		<div class="product" fxLayout="row">
			<mat-card class="item-card" *ngFor="let product of todayDeals; let i = index" style="width: 19%;">
				<ng-container *ngTemplateOutlet="dealsContentTemplate;context:{productinfo: product}"></ng-container>
			</mat-card>
		</div>
	</div>
	<!-- Today deals end -->

</div>
<ng-template #dealsContentTemplate let-product="productinfo">
	<ng-container *ngIf="product.discount && product.discount!='0'">
		<mat-card-subtitle>
			<span class="badge offer-badge">{{product.discount}}</span>
		</mat-card-subtitle>
	</ng-container>

	<div class="product-img">
		<img class="image img-cursor" mat-card-image src="{{product.image}}" alt="photo" (click)="showProductDetails(product.category,product.subcategory,product.item_id)">
	</div>
	<mat-card-content class="product-desc">
		<p class="p-title">
			{{product.item_name}}
		</p>
		<p class="p-cost">
			<ng-container *ngIf="product.dealtype==''">
				<span class="old_cost">{{PRICE_PREFIX}}{{product.supplier_deal_price}}</span>
				<span class="new_cost">{{PRICE_PREFIX}}{{product.deal_price}}</span>
			</ng-container>
			<ng-container *ngIf="product.dealtype!='' && product.discount=='0'">
				<span class="new_cost">{{PRICE_PREFIX}}{{product.price}}</span>
			</ng-container>
			<ng-container *ngIf="product.dealtype!='' && product.discount!='0'">
				<span class="old_cost">{{PRICE_PREFIX}}{{product.price}}</span>
				<span class="new_cost">{{PRICE_PREFIX}}{{product.discount_amount}}</span>
			</ng-container>
		</p>

	</mat-card-content>
	<mat-card-actions>
		<button mat-button class="action-btns" matTooltip="Add To Wishlist">
			<i class="fa fa-heart"></i>
		</button>
		<button mat-button class="action-btns cart" matTooltip="Add To Cart" (click)="addToCart(product)">
			<i class="fa fa-shopping-cart"></i>
		</button>
		<button mat-button class="action-btns share">
			<i class="fa fa-share-alt"></i>
			<div class="social-share">
				<a href="">
					<i class="fa fa-facebook-official"></i>
				</a>
				<a href="">
					<i class="fa fa-twitter-square"></i>
				</a>
				<a href="">
					<i class="fa fa-linkedin-square"></i>
				</a>
			</div>
		</button>
	</mat-card-actions>

</ng-template>