
.prefix{
    width: 39px;display: inline-block;margin-right: 3px;
    margin-top: 3px;
    border: 2px solid#ccc;
    height: 46px;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}
.checkout-card{
    margin-top: -8px;
    width: 330px;
    background-color: #fff;
    .price-details{
        line-height: 45px;
    }
}
.social-logo{
    width: 25px;
}
.fb-login{
    margin-right: 2%;
}
.login-btn{
    width: 48%;
    border: 1px solid #ccc;
}
.checkout-login-btn{
    background-color: #fff;
    color: #232323;
    border: 1px solid #2554a4;
}
form{
    width: 90%;
}
.address-form .mat-form-field{
    width: 48%;
    margin-right: 2%;
}
.img-cursor{
    max-height: 110px;
    max-width: 110px;
}
.order-details{
    .small-cap{color: #808080;font-size: 13px;}
    .price-line{
        font-size: 16px;
        span{
            font-size: 15px;color: #808080;
            text-decoration: line-through;
        }
       
    }
}
.checkout-steps .step1{
    display: inline-block;
    margin-bottom: 1rem;
}
.checkout-steps{
    background: #fff;
}
.checkout-steps .active {
    color: #ff9600;
    border-bottom: 2px solid #ff9600;
    display: inline-block;
    font-weight: 600;
}
.checkout-steps .divide{
    display: inline-block;
    border-top: 1px dashed 
    #696b79;
    height: 4px;
    width: 90px;
    margin: 0px 10px;
}
.offer{
    color: green !important;
    text-decoration: none !important;
}
.order-1{
    border-bottom: 1px solid #ccc;
}
.total{
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted #ccc;
    padding: 10px 0px;
}
.option-btns{
    button{
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 25px;height: 25px;
    }
    input{
        width: 40px;border: 1px solid #ccc;margin: 0px 10px;
        padding: 2px 0px;
    }
}
.mat-expansion-panel-header{
    height: auto !important;
    padding: 13px 30px;
    border-bottom: 1px solid #ccc;
}
.mat-expansion-panel-header.acive{
    background: #fff;
}
.divider{
    border-bottom: 1px solid #ccc;
}
.social-login{
    border-left: 1px solid #ccc;
    position: relative;
}
.social-login::before{
    content: 'OR';
    width: 35px;height: 35px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 50%;transform: translateY(-50%);
    left: -17px;
    text-align: center;
    line-height: 32px;
}
.add1{
    position: relative;
}
.edit-address{
    position: absolute;
    right: 120px;
    top: -10px;
    background-color: #f5f5f5;
}

.delete-address{
    position: absolute;
    right: 40px;
    top: -10px;
    background-color: #f5f5f5;
}
.content-container{
    max-width: 1300px;
    margin: auto;
}
.mat-expansion-panel-header-description{
    flex-grow: 0;
    button{
        color: #ff9600;
        border: 1px solid #ccc;
    }
}
.stepper{
    display: flex;
    width: 490px;
    margin: 10px auto 20px auto;
    border-top: 4px solid #e79f37;
    border-bottom: 4px solid #e79f37;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.6);
}
.step{
    padding: 5px 0px;
    flex: 1 1 25%;
    max-width: 25%;
    text-align: center;
    font-size: 13px;
    border-right: 1px solid #e79f37;
    span{
        display: block;
        width: 18px;
        margin: auto;
        border: 1px solid #333;
        border-radius: 50%;
        height: 18px;
        font-size: 12px;
    }
    &.active{
        background-color: #ff9600;
        position: relative;
    }
    &.active::after{
        content: '';
        position: absolute;
        width: 0px;height: 0px;
        border-left: 15px solid #ff9600;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        right: -13px;
        top: 15px;
    }
}
.promocode-section{
    form{margin: auto;}
}
.pt-5.text-center .mat-button{
    border: 1px solid #757370;
    border-radius: 50%;
    width: 40px !important;
    height: 40px;
    min-width: 40px;
    margin-right: 10px;
}
.coupons-base-header {
    font-size: 12px;
    font-weight: 600;
    color: #535766;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.coupons-base-couponIcon {
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 24px;
}
.coupons-base-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    padding: 7px 0;
}
.coupons-base-button {
    float: right;
    padding: 0px;
    position: absolute;
    color: #ff9600;
    border: 1px solid #ff9600;
    border-radius: 3px;
    text-transform: none;
    cursor: pointer;
    line-height: 29px;
    top: 0;
    right: 10px;
    background: #fff;
}
.coupons-base-content {
    padding-bottom: 12px;
    position: relative;
    border-bottom: 1px solid #f5f5f6;
    padding-left: 36px;
}
.coupons-base-header {
    font-size: 12px;
    font-weight: 600;
    color: #535766;
    text-transform: uppercase;
    margin-bottom: 12px;
}
.cpnid{
    width:77%;
    border: 1px solid #e8e8e8;
    color:#666;
    float: left;
    font-size: 13px;
    height: 34px;
    padding: 0 5px;
    margin-right:0px;
    margin-top: -1px;
    line-height: 23px;
}
.applycpn-btn{
    width: 21%;
    background: #fff2f0 !important;
    color: #ff5d3b !important;
    line-height: 35px;
    margin-left: -1px;
    border-radius: 0px;
    margin-top: -2px;
    box-shadow: none;
    padding: 0px;
}
.left-panel{
    min-height: 370px;
    background-color: #fff;
}
.remove-btn{
    color: #1b3664;
    font-weight: 500;
    padding: 0px;
}
.old_cost{
    font-size: 16px;
    margin-right: 8px;
    text-decoration: line-through;
    color: #686565;
}
.mat-form-field{font-size: 14px;}
.new_cost{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.exp-del{font-size: 14px;text-align: right;
    padding: 6px 0px;
    strong{color: green;}
}
.purchase-container{
    display: flex;padding-top: 60px;
    position: relative;
}
.edit-address{
    color: #2d5291;
    padding: 0px 5px;
}
.delete-address{
    color: #ec4c4c;
    min-width: 40px;
}
.new-login{
    .email-login{
        flex: 1 1 45%;max-width: 45%;padding-right: 5%;
    }
    .social-login{
        flex: 1 1 53%;max-width: 55%;padding-left: 5%;
    }
}
.existed-login{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
.prefix{
    width: 7% !important;display: inline-block;margin-right: 1%;
    border: 2px solid#ccc;
    height: 41px;
    border-radius: 0px;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}
@media screen and (max-width:991px){
    .address-form .mat-form-field{
        width: 98%;
    }
    .address-form .mobile{
        width: 89% !important;
    }
}
@media screen and (max-width:768px){
    .purchase-container{
        flex-direction: column;
    }
    .checkout-card{
        margin-top: 40px;
    }
    .edit-address{position: relative;right: auto;top: auto;}
    form{width: 100%;}
}
@media screen and (max-width:575px){
    .existed-login{
        max-width: 100%;
    }
}


