<div class="">
    <mat-toolbar-row class="breadcrumb-row">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
            <li><a [routerLink]="['/mycart']" routerLinkActive="active">Products</a></li>
            <li><a>Checkout</a></li>
        </ul>
    </mat-toolbar-row>
    <div
     class="purchase-container">
        <div class="left-panel">
            <!-- #horstepper -->
            <mat-horizontal-stepper (selectionChange)="selectionChange($event)" linear>
                <mat-step label="Shipping Address" (click)="CheckAddress()" [(completed)]="selectedAddressId">
                    <div class="mb-3">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="selectedAddressId">
                            <ng-container *ngIf="addressInfo">
                                <ng-container *ngFor="let address of addressInfo.responseObjects">
                                    <div class="add1 my-3">
                                        <mat-radio-button [value]="address.address_id">
                                            <b>{{address.mobile_number}}</b>
                                            &nbsp;{{address.firstName}}&nbsp;{{address.lastName}}
                                        </mat-radio-button>
                                        <div class="pl-3">{{address.address}} ,{{address.city}},{{address.state}}.</div>
                                        <button mat-button class="edit-address"
                                            (click)="showAddressInfo(address.address_id)">Change Address</button>
                                        <button mat-button class="delete-address"
                                            (click)="deleteAddressService(address.address_id)"><i class="fa fa-trash"
                                                aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </mat-radio-group>
                    </div>
                    <ng-container *ngIf="isUpdateAddress">
                        <mat-expansion-panel class="mb-3" [(expanded)]="exp2" class="address">
                            <mat-expansion-panel-header>
                                Update Address
                            </mat-expansion-panel-header>
                            <form [formGroup]="updateaddressform" (submit)="updateAddressService(address.address_id)"
                                class="my-3 address-form">
                                <mat-form-field floatLabel="never" appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input formControlName="firstName" matInput placeholder="First Name">
                                    <mat-error>First Name is mandatory</mat-error>
                                </mat-form-field>

                                <mat-form-field floatLabel="never" appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input formControlName="lastName" matInput placeholder="Last Name">
                                    <mat-error>Last Name is mandatory</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" style="width:98%" floatLabel="never">
                                    <mat-label>Address</mat-label>
                                    <textarea formControlName="address" matInput placeholder="Textarea"></textarea>
                                    <mat-error>address is mandatory and length can enter only 25 characters </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="never">
                                    <mat-label>City</mat-label>
                                    <input formControlName="city" matInput placeholder="Placeholder">
                                    <mat-error>city is mandatory</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="never">
                                    <mat-select formControlName="state" placeholder="Placeholder">
                                        <mat-option *ngFor="let state of statesArr" [value]="state.abreviation">
                                            {{state.state}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>state is mandatory</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="never">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country" value="United States">
                                        <mat-option value="United States">United States</mat-option>
                                    </mat-select>
                                    <mat-error>country is mandatory</mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="never">
                                    <mat-label>Pincode</mat-label>
                                    <input formControlName="zipcode" matInput placeholder="Placeholder">
                                    <mat-error>Zip Code/Postal is mandatory</mat-error>
                                </mat-form-field>

                                <mat-form-field class="prefix">
                                    <input matInput value="+1" disabled>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="never" style="width: 39%;"
                                    class="mobile">
                                    <mat-label>Mobile Number</mat-label>
                                    <input formControlName="mobile_number" matInput placeholder="Placeholder">
                                    <mat-error>mobile number is mandatory and should be numberic</mat-error>
                                    <small>Message and Data charges may apply</small>
                                </mat-form-field>

                                <button mat-raised-button type="submit" [disabled]="updateaddressform.invalid"
                                    class=" my-2 w-100 login-login-btn">Update
                                </button>
                            </form>
                        </mat-expansion-panel>
                    </ng-container>

                    <mat-expansion-panel class="mb-3" [(expanded)]="exp1" [completed]="false">
                        <mat-expansion-panel-header>
                            Add New Address
                        </mat-expansion-panel-header>
                        <form [formGroup]="addressform" (ngSubmit)="funSave()" class="my-3 address-form">
                            <mat-form-field appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input formControlName="firstName" matInput placeholder="First Name">
                                <mat-error>First Name is mandatory</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input formControlName="lastName" matInput placeholder="Last Name">
                                <mat-error>Last name is mandatory</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width:98%">
                                <mat-label>Address</mat-label>
                                <textarea formControlName="address" matInput placeholder="Textarea"></textarea>
                                <mat-error>address is mandatory and length can enter only 25 characters </mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>City</mat-label>
                                <input formControlName="city" matInput placeholder="Placeholder">
                                <mat-error>city is mandatory</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>State</mat-label>
                                <mat-select formControlName="state" placeholder="Placeholder">
                                    <mat-option *ngFor="let state of statesArr" [value]="state.abreviation">
                                        {{state.state}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>state is mandatory</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country" value="United States">
                                    <mat-option value="United States">United States</mat-option>
                                </mat-select>
                                <mat-error>country is mandatory</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline">
                                <mat-label>Zip Code/Postal</mat-label>
                                <input formControlName="zipcode" matInput placeholder="Placeholder">
                                <mat-error>Zip Code/Postal is mandatory</mat-error>
                            </mat-form-field>

                            <mat-form-field class="prefix">
                                <input matInput value="+1" disabled>
                            </mat-form-field>

                            <mat-form-field appearance="outline" style="width: 39%;" class="mobile">
                                <mat-label>Mobile Number</mat-label>
                                <input formControlName="mobile_number" matInput>
                                <mat-error>mobile number is mandatory and should be numberic</mat-error>
                                <small>Message and Data charges may apply</small>
                            </mat-form-field>

                            <button mat-raised-button type="submit" [disabled]="addressform.invalid"
                                class=" my-2 w-100 login-login-btn">Save
                            </button>
                        </form>
                    </mat-expansion-panel>
                    <div class="pt-5 text-center">
                        <button mat-button matStepperNext><i class="fa fa-chevron-right"></i></button>
                    </div>
                </mat-step>

                <mat-step label="Order Summary" [(completed)]="isCart">
                    <div class="mb-3">
                        <ng-container *ngIf="shoppingCartItems">
                            <div class="order-1 py-3 mt-3" *ngFor='let cart of shoppingCartItems'>
                                <div class="order-item" style="display: flex;">
                                    <div class="text-center" style="flex: 1 1 20%;max-width: 120px;">
                                        <img [src]="cart.image" class="img-cursor">
                                    </div>
                                    <div class="order-details pl-3" style="flex: 1 1 60%;max-width: 60%;">
                                        <h6>{{cart.item_name}}</h6>
                                        <div class="small-cap">{{cart.brand_name}}</div>
                                        <p>
                                            <ng-container *ngIf="cart.dealtype!=''">
                                                <span
                                                    class="old_cost">{{PRICE_PREFIX}}{{cart.deals_bargain_supplier_deal_price}}</span>
                                                <span
                                                    class="new_cost">{{PRICE_PREFIX}}{{cart.deals_bargain_deal_price}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="cart.dealtype=='' && cart.discount=='0'">
                                                <span class="new_cost">{{PRICE_PREFIX}}{{cart.price}}</span>
                                            </ng-container>
                                            <ng-container *ngIf="cart.dealtype=='' && cart.discount!='0'">
                                                <span class="old_cost">{{PRICE_PREFIX}}{{cart.price}}</span>
                                                <span class="new_cost">{{PRICE_PREFIX}}{{cart.discount_amount}}</span>
                                            </ng-container>
                                        </p>
                                    </div>
                                    <div class="" style="flex: 1 1 25%;max-width: 25%;">
                                        <div class="exp-del">Expected Delivery by <br>
                                            <strong>{{send_date | date}}</strong></div>
                                    </div>
                                </div>
                                <div class="options" style="display: flex;">
                                    <div class="option-btns mt-2" style="flex: 1 1 20%;max-width: 120px;">
                                        <button (click)="updateItemCountFromCartComp(cart,false)">-</button>
                                        <input matInput class="text-center" disabled
                                            value="{{!cart.quantity ? 1 : cart.quantity}}">
                                        <button (click)="updateItemCountFromCartComp(cart,true)">+</button>
                                    </div>
                                    <div class="ml-3 mt-2" style="flex: 1 1 30%;max-width: 30%;">
                                        <button mat-button (click)="removeItemFromCartComp(cart)"
                                            class="remove-btn">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <p class="mt-3">
                            <button mat-button class="float-right login-login-btn" [routerLink]="['/']" >Continue shopping</button>
                            <button mat-button matStepperNext class="float-right login-login-btn mr-3">Check out</button>
                        </p>
                    </div>
                    <div class="pt-5 text-center">
                        <button mat-button matStepperPrevious><i class="fa fa-chevron-left"></i></button>
                        <button mat-button matStepperNext><i class="fa fa-chevron-right"></i></button>
                    </div>
                </mat-step>

                <mat-step label="Payment" completed="false">
                    <div>
                        <mat-radio-group aria-label="Select an option" class="py-3 d-block">
                            <mat-radio-button value="1" [checked]="true">Paypal</mat-radio-button>
                            <mat-toolbar-row>
                                <div *ngIf="!paypalFor">
                                </div>

                                <div #paypal></div>
                                <div *ngIf="paypalFor">
                                    <p>Your transaction is success. Thank you. Visit Again.</p>
                                </div>
                            </mat-toolbar-row>
                        </mat-radio-group>
                    </div>
                    <div class="pt-5 text-center">
                        <button mat-button matStepperPrevious><i class="fa fa-chevron-left"></i></button>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
        <div class="pl-4">
            <div class="checkout-card">
                <h6 class="px-3 pt-3 text-center">ORDER SUMMARY</h6>
                <div class="my-3 px-3" style="font-size: 13px;">
                    &nbsp;&nbsp;&nbsp;&nbsp;By placing your order, you agree to dealsbargain.com's <a target="_blank"
                        href="../../../assets/pages/PrivacyPolicy.html">privacy notice,</a>
                    <a target="_blank" href="../../../../assets/pages/TermsofUse.html">conditions of use </a>and all of
                    the terms found
                    <a target="_blank" href="../../../../assets/pages/TermsofUse.html">here</a>
                </div>
                <div class="promocode-section">
                    <form class="mt-3" [formGroup]="couponform" (submit)="validateCoupon()">
                        <mat-form-field class="cpnid" floatLabel="never">
                            <input formControlName="couponcode" matInput placeholder="Enter Coupon code">
                        </mat-form-field>
                        <button mat-raised-button type="submit" class="applycpn-btn"
                            [disabled]="couponform.invalid">Apply</button>
                        <p class="text-right my-2 pr-2" style="cursor: pointer;font-size: 13px;color: brown;" (click) = "removeCoupon()">Remove Coupon</p> 
                            <!-- <span id="cpnstatus" *ngIf="couponform.valid">Coupon applied successfully</span> -->
                        <!-- <button mat-raised-button type="button"  class=""></button>    -->
                    </form>
                </div>
                <div class="divider"></div>

                <div class="price-details px-3">
                    <div class="" style="display: flex;justify-content: space-between;">
                        <div>Items({{totalCartSize}})</div>
                        <span>{{PRICE_PREFIX}}{{totalCost}}</span>
                    </div>
                    <ng-container *ngIf="transactionCostFromDBAPI > 0">
                        <div class="" style="display: flex;justify-content: space-between;">
                            <div>Transaction Fee</div>
                            <span>{{PRICE_PREFIX}}{{transactionCostFromDBAPI}}</span>
                        </div>
                    </ng-container>
                    <div class="" style="display: flex;justify-content: space-between;">
                        <div>Shipping & handling:</div>
                        <span>{{PRICE_PREFIX}}0</span>
                    </div>
                    <div class="" style="display: flex;justify-content: space-between;">
                        <div>Total before tax:</div>
                        <span>{{PRICE_PREFIX}}0</span>
                    </div>
                    <div class="" style="display: flex;justify-content: space-between;">
                        <div>Estimated tax to be collected:</div>
                        <span>{{PRICE_PREFIX}}0</span>
                    </div>
                    <ng-container *ngIf="couponDiscountCost > 0">
                        <div class="" style="display: flex;justify-content: space-between;">
                            <div>Coupon Discount:</div>
                            <span>{{PRICE_PREFIX}}{{couponDiscountCost}}</span>
                        </div>
                    </ng-container>
                    <div class="total">
                        <b>Order Total:</b>
                        <b>{{PRICE_PREFIX}}{{totalPaybaleCost}}</b>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

        </div>
    </div>
    <div>
        <ngContainer *ngIf="isloader">
            <div class="overlay">
                <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
                </mat-progress-spinner>
            </div>
        </ngContainer>
    </div>
</div>