 <!---  Manage Addresses ------ -->
 <!-- <div class="address p-3">
    <h6>HOME</h6>

    <p><b>Dealsbargain <span class="ml-4">9863545757</span></b></p>
    <p class="my-3" style="width: 60%;">Dealsbargain, Hyderabad,500023.</p>
</div>-->
 <h5 class="mb-4">Saved Addresses</h5>
        <div class="mb-3">
            <ng-container *ngIf="addressInfo">
                <ng-container *ngFor="let address of addressInfo.responseObjects">
                    <div class="add1 my-3">
                        <div class="address p-3">
                            <div class="my-2 address-action-btn">
                                <!-- <span> {{address.address_type == 2 ? 'Work' : 'Home'}}</span>-->
                                <span>{{address.mobile_number? address.mobile_number.substring(1,11):address.mobile_number}}</span>
                                
                                <div>
                                    <button mat-button class="edit-address" (click)="showAddressInfo(address.address_id)">Change Address</button>
                                    <button mat-button class="delete-address" (click)="deleteAddressService(address.address_id)"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                            <p>Mobile : <b>{{address.name}} <span class="ml+3">{{address.mobile_number? address.mobile_number.substring(1,11):address.mobile_number}}</span></b></p>
                            <p class="my-2" style="width: 60%;">{{address.address}} ,{{address.city}},{{address.state}}.</p>
                        </div>

                        <!--<mat-radio-button [value]="address.address_id">{{address.name}}
                            <span class="px-1">{{address.address_type == 2 ? 'Work' : 'Home'}}</span>
                            {{address.mobile_number}}
                        </mat-radio-button>
        
                        <div class="pl-3">{{address.address}} ,{{address.city}},{{address.state}}.</div>-->
                        
                    </div>
                </ng-container>
            </ng-container>
        </div>
        <ng-container *ngIf="isUpdateAddress">
            <mat-expansion-panel class="mb-3" [(expanded)]="exp2">
                <mat-expansion-panel-header>
                    Update Address
                </mat-expansion-panel-header>
                <form [formGroup]="updateaddressform" (submit)="updateAddressService(address.address_id)"
                    class="my-3 address-form">
                    <mat-form-field appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input formControlName="firstName" matInput placeholder="First Name">
                        <mat-error>First Name is mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input formControlName="lastName" matInput placeholder="Last Name">
                        <mat-error>Last Name is mandatory</mat-error>
                    </mat-form-field>

                    <mat-form-field class="prefix">
                        <input matInput value="+1" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:39%">
                        <mat-label>Mobile Number</mat-label>
                        <input formControlName="mobile_number" matInput placeholder="Placeholder">
                        <mat-error>Mobile number is mandatory and should be numberic</mat-error>
                    </mat-form-field>

                    <mat-form-field class="prefix">
                        <input matInput value="+1" disabled>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:39%">
                        <mat-label>Alternate Phone</mat-label>
                        <input formControlName="altphone" matInput placeholder="Placeholder">
                        <mat-error>phone number should be numeric</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width:98%">
                        <mat-label>Address</mat-label>
                        <textarea formControlName="address" matInput placeholder="Textarea"></textarea>
                        <mat-error>address is mandatory and length can enter only 25 characters </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>City</mat-label>
                        <input formControlName="city" matInput placeholder="Placeholder">
                        <mat-error>city is mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" value="United States">
                            <mat-option value="United States">United States</mat-option>
                        </mat-select>
                        <mat-error>country is mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-select formControlName="state" placeholder="Placeholder">
                            <mat-option *ngFor="let state of statesArr" [value]="state.abreviation">
                                {{state.state}}
                            </mat-option>
                        </mat-select>
                        <mat-error>state is mandatory</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Pincode</mat-label>
                        <input formControlName="zipcode" matInput placeholder="Placeholder">
                        <mat-error>Zip Code/Postal is mandatory</mat-error>
                    </mat-form-field>
                   <!-- <mat-radio-group formControlName="address_type" aria-label="Select an option">
                        <mat-radio-button value="1" class="mr-2">Home
                            ( All Day Delivery )
                        </mat-radio-button>
                        <mat-radio-button value="2">Work
                            (Delivery
                            between 10AM - 5PM)</mat-radio-button>
                    </mat-radio-group>-->
                    <button mat-raised-button type="submit" [disabled]="updateaddressform.invalid"
                        class=" my-2 w-100 login-login-btn">Update</button>
                    <button mat-button class="edit-address"
                        (click)="cancelUpdateAddress(address.address_id)">Cancel</button>
                </form>
            </mat-expansion-panel>
        </ng-container>
        <mat-expansion-panel class="mb-3" [(expanded)]="exp1" [completed]="false">
            <mat-expansion-panel-header>
                Add New Address
            </mat-expansion-panel-header>
            <form [formGroup]="addressform" (submit)="funSave()" class="my-3 address-form">
                <mat-form-field appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input formControlName="firstName" matInput placeholder="First Name">
                    <mat-error>First Name is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="lastName" matInput placeholder="Last Name">
                    <mat-error>Last Name is mandatory</mat-error>
                </mat-form-field>
                
                <mat-form-field class="prefix">
                    <input matInput value="+1" disabled>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 39%;">
                    <mat-label>Mobile Number</mat-label>
                    <input formControlName="mobile_number" matInput>
                    <mat-error>mobile number is mandatory and should be numberic</mat-error>
                </mat-form-field>

                
                <mat-form-field class="prefix">
                    <input matInput value="+1" disabled>
                </mat-form-field>

                <mat-form-field appearance="outline" style="width: 39%;">
                    <mat-label>Alternate Phone</mat-label>
                    <input formControlName="altphone" matInput placeholder="Placeholder">
                    <mat-error>phone number should be numeric</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" style="width:98%">
                    <mat-label>Address</mat-label>
                    <textarea formControlName="address" matInput placeholder="Textarea"></textarea>
                    <mat-error>address is mandatory and length can enter only 25 characters </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>City</mat-label>
                    <input formControlName="city" matInput placeholder="Placeholder">
                    <mat-error>city is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" value="United States">
                        <mat-option value="United States">United States</mat-option>
                    </mat-select>
                    <mat-error>country is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" placeholder="Placeholder">
                        <mat-option *ngFor="let state of statesArr" [value]="state.abreviation">
                            {{state.state}}
                        </mat-option>
                    </mat-select>
                    <mat-error>state is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Zip Code/Postal</mat-label>
                    <input formControlName="zipcode" matInput placeholder="Placeholder">
                    <mat-error>Zip Code/Postal is mandatory</mat-error>
                </mat-form-field>
               <!-- <mat-radio-group aria-label="Select an option" formControlName="address_type">
                    <mat-radio-button value="1" class="mr-2">Home ( All Day Delivery )</mat-radio-button>
                    <mat-radio-button value="2">Work (Delivery between 10AM - 5PM)</mat-radio-button>
                </mat-radio-group>-->
                <button mat-raised-button type="submit" [disabled]="addressform.invalid"
                    class=" my-2 w-100 login-login-btn">Save</button>
            </form>
        </mat-expansion-panel>

        
