.container{
    overflow-y: hidden;
    overflow-x: scroll;
    margin: 20px;
    padding: 0 ;
  }
  .productlistcontainer{
    overflow-y: scroll;
    overflow: hidden;
    margin: 20px;
    padding: 0 ;
  }
   
  .product{
    min-width: 100px;
    text-align: center;
    margin-bottom: 20px; /* same as fxLayoutGap for even distribution */
  }
  
  .product img{
    height: 150px;
    object-fit: contain;
  }
  
  .margin-top-20{
    margin-top:20px;
  } 
  
  .old_cost{
    font-size: 14px;
    margin-right: 8px;
    text-decoration: line-through;
    color: #686565;
  }
  .new_cost{
    font-size: 17px;
    color: #b90b1c;
  }

  .img-cursor{
    cursor: pointer;
  }
  