<div class="product-list-page ">
	<aside class="margin-top-20">
		<mat-accordion [multi]="true">
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header>
					Brands
				</mat-expansion-panel-header>
				<div fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
					<mat-checkbox *ngFor='let brand_name of distinctbrandsArray' value="brand_name"
						(change)="refreshBrands($event,brand_name)">{{brand_name}}</mat-checkbox>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header>
					Price
				</mat-expansion-panel-header>
				<div fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
					From {{fromPrice.value}}
					<mat-slider #fromPrice (change)="updateFromPrice($event)" steps="1" min="0" max="1000"
						[value]="fromPrice"></mat-slider>
					To {{toPrice.value}}
					<mat-slider #toPrice (change)="updateToPrice($event)" steps="1" min="0" max="1000"
						[value]="toPrice"></mat-slider>
				</div>
			</mat-expansion-panel>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header>
					Discounts
				</mat-expansion-panel-header>
				<div fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex;">
					<mat-checkbox>More than 50%</mat-checkbox>
					<mat-checkbox>More than 60%</mat-checkbox>
					<mat-checkbox>More than 65%</mat-checkbox>
					<mat-checkbox>More than 70%</mat-checkbox>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</aside>
	<div *ngIf="products" class="product-list">
		<div class="productlistcontainer margin-top-20 pl-3" fxLayout="row wrap">
			<ng-container *ngFor="let product of products; let i = index">
				<ng-container
					*ngIf="fromPrice.value > 0 ?  (product.prepay_price >= fromPrice.value ? true : false): true">
					<ng-container *ngIf="toPrice.value > 0 ? (product.prepay_price <= toPrice.value): true">
						<mat-card
							*ngIf="selectedBrandsArray.length == 0 ? true: selectedBrandsArray.includes(product.brand_name)" class="product" fxLayout="column">
							<!-- <mat-card-subtitle>
								<span class="badge badge-danger">{{product.discount}}</span>
							</mat-card-subtitle> -->
							<img class="image img-cursor" mat-card-image src="{{product.image}}" alt="photo"
								(click)="showProductDetails(cname,scname,product.item_id)">

							<mat-card-content>
								<p class="p-title text-center">{{product.item_name}}</p>
								<p class="p-cost text-center">
									<ng-container *ngIf="product.dealtype==''">
										<span class="old_cost">{{PRICE_PREFIX}}{{product.supplier_deal_price}}</span>
										<span class="new_cost">{{PRICE_PREFIX}}{{product.deal_price}}</span>
									</ng-container>
									<ng-container *ngIf="product.dealtype!='' && product.discount=='0'">
										<span class="new_cost">{{PRICE_PREFIX}}{{product.price}}</span>
									</ng-container>
									<ng-container *ngIf="product.dealtype!='' && product.discount!='0'">
										<span class="old_cost">{{PRICE_PREFIX}}{{product.price}}</span>
										<span class="new_cost">{{PRICE_PREFIX}}{{product.discount_amount}}</span>
									</ng-container>									
								</p>
							</mat-card-content>
							<mat-card-actions>
								<button mat-button class="action-btns" matTooltip="Add To Wishlist">
									<i class="fa fa-heart"></i>
								</button>
								<button mat-button class="action-btns cart" matTooltip="Add To Cart" (click)="addToCart(product)">
									<i class="fa fa-shopping-cart"></i>
								</button>
								<button mat-button class="action-btns share">
									<i class="fa fa-share-alt"></i>
									<div class="social-share">
										<a href="">
											<i class="fa fa-facebook-official"></i>
										</a>
										<a href="">
											<i class="fa fa-twitter-square"></i>
										</a>
										<a href="">
											<i class="fa fa-linkedin-square"></i>
										</a>
									</div>
								</button>
							</mat-card-actions>
						</mat-card>
					</ng-container>
				</ng-container>
			</ng-container>


		</div>
	</div>
</div>