<div class="content-container pt-4">
        <div class="my-profile-box">
            <aside>
                <div class="profile-info">
                    <div class="profile-img">
                        <img src="../../../../assets/img/4.jpeg">
                    </div>
                    <h6>{{this.userservice.getProfileInfo().user_name}}</h6>
                    <p>{{this.userservice.getProfileInfo().mobile}}</p>
                    <!-- <button mat-button class="edit-btn">Edit</button>-->
                </div>
                <!-- <button mat-button class="wishlist-btn"><i class="fa fa-"></i> Wishlist</button> -->
                <mat-accordion [multi]="true">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                           Profile
                        </mat-expansion-panel-header>
                        <div class="list-box">
                            <!-- <a mat-button [routerLink]="['/wishlist']" routerLinkActive="active">Whishlist</a>-->
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['wishlist'] } }]" routerLinkActive="active">My Whishlist</a>
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['orders'] } }]" routerLinkActive="active">My Orders</a>
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['addresses'] } }]" routerLinkActive="active">Manage Addresses</a>
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['review-ratings'] } }]" routerLinkActive="active">My Reviews & Ratings</a>
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['change-passowrd'] } }]" routerLinkActive="active">Change Password</a>
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['unsubscribe'] } }]" routerLinkActive="active">Unsubscribe</a>
                        </div>
                    </mat-expansion-panel>
                  <!--  <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            My Info
                        </mat-expansion-panel-header>
                        <div class="list-box">
                            <a mat-button>Addresses</a>
                            <a mat-button>Reviews & Ratings</a>
                            <a mat-button>Change Password</a>
                        </div>
                    </mat-expansion-panel>-->
                </mat-accordion>
                <!-- <button mat-button class="my-3 uns-btn">Unsubscribe</button>-->
            </aside>
            <div class="product-list">
                <div class="productlistcontainer p-4">
                    <router-outlet name="profileoutlet"></router-outlet>
  
                </div>
            </div>
        </div>
    </div>
    