<div class="content-container pt-4">
        <div class="my-profile-box">
            <aside>
                <div class="profile-info">
                    <div class="profile-img">
                        <img src="../../../../assets/img/4.jpeg">
                    </div>
                    <h6>Deals bargain</h6>
                    <p>9876543210</p>
                    <button mat-button class="edit-btn">Edit</button>
                </div>
                <!-- <button mat-button class="wishlist-btn"><i class="fa fa-"></i> Wishlist</button> -->
                <mat-accordion [multi]="true">
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                           Profile
                        </mat-expansion-panel-header>
                        <div class="list-box">
                            <!-- <a mat-button [routerLink]="['/wishlist']" routerLinkActive="active">Whishlist</a>-->
                            <a mat-button [routerLink]="['/myprofile', { outlets: {  'profileoutlet': ['/wishlist'] } }]" routerLinkActive="active">Whishlist</a>
                            <!-- <a mat-button [routerLink]="['/myprofile', { outlets: {profileoutlet: ['/wishlist'] } }]" routerLinkActive="active">Whishlist</a>-->
                            <a mat-button [routerLink]="['/orders']" routerLinkActive="active">My Orders</a>
                            <a mat-button [routerLink]="['/addresses']" routerLinkActive="active">Addresses</a>
                            <a mat-button [routerLink]="['/review-ratings']" routerLinkActive="active">Reviews & Ratings</a>
                            <a mat-button [routerLink]="['/change-passowrd']" routerLinkActive="active">Change Password</a>
                            <a mat-button [routerLink]="['/unsubscribe']" routerLinkActive="active">Unsubscribe</a>
                        </div>
                    </mat-expansion-panel>
                    <router-outlet name="profileoutlet"></router-outlet>
                  <!--  <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header>
                            My Info
                        </mat-expansion-panel-header>
                        <div class="list-box">
                            <a mat-button>Addresses</a>
                            <a mat-button>Reviews & Ratings</a>
                            <a mat-button>Change Password</a>
                        </div>
                    </mat-expansion-panel>-->
                </mat-accordion>
                <!-- <button mat-button class="my-3 uns-btn">Unsubscribe</button>-->
            </aside>
            <div class="product-list">
                <div class="productlistcontainer p-4">
                        
                    <!--- --- Return/Exchange Orders --------  
                    <h4>Return/Exchange Orders</h4>
                    <div class="order-details py-4" fxLayout="row">
                        <p>Order ID<br> <b>162348148</b></p>
                        <p>Order Date<br> <b>Sunday, September 2019</b></p>
                        <p>Total Quality<br> <b>1 Items</b></p>
                        <p>Amount Paid <br> <b> 4500</b></p>
                        <p>Status <br> <b>Completed</b></p>
                        <p>Tracking <br> <b>#</b></p>
                        <button mat-button class="view-btn">View</button>
                    </div>-->
                    <!--- --- Return/Exchange Orders --------  -->
                    
                    
                </div>
            </div>
        </div>
    </div>
    