<button mat-raised-button color="warn" (click)="funClose()" class="close-btn"><i class="fa fa-close"></i></button>

<p class="text-center login-title mb-3">Forgot Password?</p>
<p class="info">We just need your registered email address or mobile number to send you an OTP to reset your password</p>
    <mat-form-field floatLabel="never" class="w-100 mt-2" appearance="outline">
        <input formControlName="name" matInput placeholder="Email address or Mobile number*">
        <mat-error>This field is mandatory</mat-error>
    </mat-form-field>

    <!-- s<button mat-button class="my-2">Send</button> -->
    <div class="otp-sent-btn">OTP sent to Email<span><a mat-button>Send</a><a mat-button>Resend</a></span></div>
<div class="otp-section">
    <mat-form-field floatLabel="never" appearance="outline">
        <input formControlName="name" matInput placeholder="1">
    </mat-form-field>
    <mat-form-field floatLabel="never" appearance="outline">
        <input formControlName="name" matInput placeholder="2">
    </mat-form-field>
    <mat-form-field floatLabel="never" appearance="outline">
        <input formControlName="name" matInput placeholder="3">
    </mat-form-field>
    <mat-form-field floatLabel="never" appearance="outline">
        <input formControlName="name" matInput placeholder="4">
    </mat-form-field>
</div> 
<form class="mt-4">
    <mat-form-field floatLabel="never" class="w-100 mb-2">
        <input formControlName="name" matInput placeholder="New password">
        <mat-error>This field is mandatory</mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="never" class="w-100 mb-2">
        <input formControlName="name" matInput placeholder="Re-enter new password">
        <mat-error>This field is mandatory</mat-error>
    </mat-form-field>

    <button mat-button class="my-2">Login</button>
</form>
