<div class="p-3">
    <button mat-raised-button (click)="funClose()" class="close-btn">
        <i class="fa fa-close"></i>
    </button>

    <p class="text-center login-title mb-3">Forgot Password?</p>
    <p class="info my-2">We just need your registered email or mobile number to send you an OTP to reset your password</p>
    <input matInput [value]="emailOrMobile" (input)="emailOrMobile=$event.target.value" placeholder="Email or Mobile number*">
    <span class="error">{{this.emailOrMobileReqerrorMsg}}</span>     
    <div class="text-right my-2">
        <ng-container *ngIf="isEmailOtpSent == false">
            <span>
                <a mat-button (click)="sendOTP()">Forgot?</a>
            </span>
        </ng-container>
        <ng-container *ngIf="isEmailOtpSent == true">
            <span>
                <a mat-button (click)="sendOTP()">Resend</a>
            </span>
        </ng-container>
    </div>

    <ng-container *ngIf="isEmailOtpSent == true">
        <div class="otp-sent-btn mt-2">OTP sent to Email/Mobile Number</div>
        <div class="otp-section">
            <div floatLabel="never" appearance="outline">
                <input matInput [value]='emailOTP' (input)="emailOTP=$event.target.value" placeholder="Enter OTP">
                <span class="error">{{emailOTPReqerrorMsg}}</span>
            </div>
        </div>

        <div floatLabel="never" class="w-100 mb-2">
            <input matInput type="password" [value]='password' (input)="password=$event.target.value" placeholder="Set password">
            <span class="error">{{passwordReqerrorMsg}}</span>
        </div>
        <!-- <mat-form-field floatLabel="never" class="w-100 mb-2">
                                <input formControlName="name" matInput placeholder="Re-enter new password">
                                <mat-error>This field is mandatory</mat-error>
                            </mat-form-field>
                        -->
        <button mat-button class="my-3" (click)="verifyAndSavePassowrd()">Login</button>
    </ng-container>
</div>