.info{font-size: 13px;text-align: center;color: #dc2525}
button{
    margin: auto;
    display: block;
    background: transparent;
    color: #d22828;
}
.mat-form-field{font-size: 14px;}
.otp-section{
    text-align: center;
    .mat-form-field{
        width: 60%;
        font-size: 13px;
        text-align: center;
    }
}
.otp-sent-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.close-btn{
    float: right;
    min-width: 21px;
    height: 21px;
    padding: 0px;
    line-height: 11px;
    border-radius: 50%;
    outline: none;
    margin-top: -10px;
}
input{
    padding: 10px 10px;
    border: 1px solid#e1e1e1;
    font-size: 14px;
    margin-top: 10px;
    color:#353535;
}
a{background-color: #eb9a26;color: #fff;}
@media screen and (max-width:575px){
    .info{font-size: 12px;}
    input{padding: 7px 10px;font-size: 12px;}
}