<ng-container *ngIf="actionType=='' || actionType=='list'">
    <h5 class="mb-4">My Whishlist</h5>
    <div class="content-container mt-4">
        <ng-container *ngIf="this._whishlistService.itemsInWhishslist && this._whishlistService.itemsInWhishslist.length == 0">
            Your whish list is empty
        </ng-container>
        <ng-container *ngIf="this._whishlistService.itemsInWhishslist">
            <div class="order-1 py-3" *ngFor='let product of this._whishlistService.itemsInWhishslist'>
                <div class="order-item" style="display: flex;">
                    <div class="text-center" style="flex: 1 1 20%;max-width: 120px;">
                        <img [src]="product.image" class="img-cursor" mat-card-image alt="photo"
										(click)="showProductDetails({cname:product.category,scname:product.subcategory,pid:product.item_id})">
                    </div>
                    <div class="order-details pl-3" style="flex: 1 1 40%;max-width: 40%;">
                        <h6>{{product.item_name}}</h6>
                        <div class="small-cap">Brand Name : {{product.brand_name}}</div>
                        <p class="p-cost">
                            <ng-container *ngIf="product.dealtype!=''">
                                <span class="old_cost">{{PRICE_PREFIX}}{{product.deals_bargain_supplier_deal_price}}</span>
                                <span class="new_cost">{{PRICE_PREFIX}}{{product.deals_bargain_deal_price}}</span>
                            </ng-container>
                            <ng-container *ngIf="product.dealtype=='' && product.discount=='0'">
                                <span class="new_cost">{{PRICE_PREFIX}}{{product.price}}</span>
                            </ng-container>
                            <ng-container *ngIf="product.dealtype=='' && product.discount!='0'">
                                <span class="old_cost">{{PRICE_PREFIX}}{{product.price}}</span>
                                <span class="new_cost">{{PRICE_PREFIX}}{{product.discount_amount}}</span>
                            </ng-container>
                        </p>
                        <div class="options" style="display: flex;">
                            <div class="mt-2 ml-3" style="flex: 1 1 30%;max-width: 30%;">
                                <button mat-button (click)="removeFromWhishlist(product)" class="remove-btn">Remove</button>
                            </div>
                            <div class="mt-2 ml-3" style="flex: 1 1 30%;max-width: 30%;">
                                <button mat-button (click)="moveToCart(product)" class="remove-btn cart">Move To Cart</button>
                            </div>
                        </div>
                    </div>
                   <!--  <div class="" style="flex: 1 1 25%;max-width: 25%;">
                        <div>Delivery by Nov 20 | Free</div>
                    </div> -->
                </div>
                
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="actionType=='add'">
    <button mat-button class="action-btns" matTooltip="Add To Wishlist" (click)="addToWhishlist()">
        <i class="fa fa-heart"></i>
    </button>
</ng-container>