
.img-cursor{
    max-width: 100%;
}
.order-details{
    .small-cap{color: #808080;font-size: 13px;}
    .price-line{
        font-size: 16px;
        span{
            font-size: 15px;color: #808080;
            text-decoration: line-through;
        }
       
    }
}

.order-1{
    border-bottom: 1px solid #ccc;
}
.total{
    display: flex;
    justify-content: space-between;
    border-top: 1px dotted #ccc;
    padding: 10px 0px;
}
.option-btns{
    button{
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #fff;
        width: 25px;height: 25px;
    }
    input{
        width: 40px;border: 1px solid #ccc;margin: 0px 10px;
        // padding: 2px 0px;
    }
}

.spinner {
    position: absolute;
    width:100%;
    top:40%;
    left: 47%;
    opacity: 1;
    z-index: 500000;
  }

.divider{
    border-bottom: 1px solid #ccc;
}

.content-container{
    max-width: 1300px;
    margin: auto;
    padding: 10px 20px !important;
    background-color: #fff;
}
.remove-btn{
    color: #d22020;
    font-weight: 400;
    height: 32px;
    line-height: 27px;
    padding: 0px 10px;
    font-size: 13px;
}
.remove-btn.cart{
    color: #234e97;
}
.action-btns{
    min-width: 29px;
    padding: 0px;
    background:#e1e1e1;
    height: 29px;
    line-height: 28px;
    i{font-size: 14px;}
}
.fa-heart{
    color: #e24e4e;
    font-size: 20px;
}
