
.login-btn{
    width: 100%;
    padding-left: 33%;
    text-align: left;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-weight: 400;
    background-color: #f2f2f2;
}

.login-logo{position: absolute;left: 21%;top: 6px;width: 23px;}

mat-checkbox{
    font-size: 14px;
    white-space: pre-wrap;
}
.cont{
    background: url('../../../../assets/img/71.jpg') no-repeat;
    background-size: cover;
    margin: -10px -15px -15px -15px;
    padding: 5% 0px 5% 0px;
}
