
<!-- <button mat-raised-button color="warn" (click)="funClose()" class="close-btn"><i class="fa fa-close"></i></button> -->
<p class="text-center login-title">Login to DealsBargain</p>

<div class="login-container mb-4">
    <div class="login-btn-container mb-4">
        <p class="text-center login-info mb-3">EASILY USING</p>

        <button mat-raised-button (click)="loginFacebook();" class="fb-login login-btn">
            <img src="../../.././../assets/img/facebook.png" class="login-logo">FACEBOOK</button>

        <button mat-raised-button (click)="loginGmail();" class="gmail-login login-btn">
            <img src="../../.././../assets/img/search.png" class="login-logo">GOOGLE</button>
    </div>

    <p class="text-center login-info mb-3">-OR USING MAIL-</p>
<form [formGroup]="loginformService.form" class="normal-form w-100" (submit)="funLogin()">
        {{this.loginErrorMsg}}     
            <!-- <input type="hidden" formControlName="$key"> -->
        <mat-form-field floatLabel="never" class="w-100">
            <input formControlName="name" matInput placeholder="Email address or Mobile number *" >
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="w-100">
            <input formControlName="password" type="password" matInput placeholder="Password*" >
            <mat-error>This field is mandatory</mat-error>
        </mat-form-field>
                   
    <button mat-raised-button type="submit" [disabled]="loginformService.form.invalid" class=" my-2 w-100 login-login-btn">LOGIN</button>
    <mat-checkbox>I have read and agree to Dealsbargain Terms & Conditions.</mat-checkbox>
</form>


<div class="login-links mt-2">
    <a mat-button (click)="forgotpwd()">Recover password</a>
    <div class="right-link float-right">
            New to Deals?<a mat-button [routerLink]="['signup']" style="line-height: 17px;">Sign Up</a>
    </div>
</div>
<!-- <p style="color: green;">Need Help ?</p>
<div class="policy"> By signing up or logging in, you aggree to the offerUp
    <span style="color: green;">
        Terms of Service
    </span>and<span style="color: green;"> Privacy Policy</span>
</div>

    <p>Version : 3.34.0(30340002)</p> -->

</div>