<mat-toolbar-row class="breadcrumb-row">
	<ul class="breadcrumb">
		<li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
		<li><a >Login</a></li>
	</ul>
</mat-toolbar-row>
<div class="cont">
<!-- <button mat-raised-button color="warn" (click)="funClose()" class="close-btn"><i class="fa fa-close"></i></button> -->

<div class="login-container">
    <p class="text-center login-title">Login to Dealsbargain</p>
    <p class="text-center login-info my-2">I have an account</p>
    <form [formGroup]="loginformService.form" class="normal-form w-100" (submit)="funLogin()">
            <span class="error">{{this.loginErrorMsg}}</span>     
                <!-- <input type="hidden" formControlName="$key"> -->
            <mat-form-field floatLabel="never" class="w-100" appearance="outline">
                <input formControlName="name" matInput placeholder="Email or Mobile number *" >
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="never" class="w-100" appearance="outline">
                <input formControlName="password" type="password" matInput placeholder="Password*" >
                <mat-error>This field is mandatory</mat-error>
            </mat-form-field>
                    
        <button mat-raised-button type="submit" [disabled]="loginformService.form.invalid" class=" mb-2 w-100 login-login-btn">LOGIN</button>
        <!-- <mat-checkbox>I have read and agree to Dealsbargain Terms & Conditions.</mat-checkbox> -->
    </form>
    <div class="login-btn-container my-2">
        <!-- <p class="text-center login-info mb-3">-OR-</p> -->

        <button mat-raised-button (click)="loginFacebook();" class="fb-login login-btn">
            <span class="login-logo">
                <i class="fa fa-facebook"></i>
            </span>
            Login with FACEBOOK</button>

        <button mat-raised-button (click)="loginGmail();" class="gmail-login login-btn">
            <span class="login-logo">
                <i class="fa fa-google-plus"></i>
            </span>
            Login with GOOGLE</button>
    </div>
    <a mat-button [routerLink]="['signup']" class="text-centerm-auto d-block">Login as Guest</a>

<div class="login-links">
    <a mat-button (click)="forgotpwd()">Forgot Password ?</a>
    <div class="right-link float-right">
            New to Dealbargain?<a mat-button [routerLink]="['signup']" style="line-height: 17px;">Sign Up</a>
    </div>
</div>
<!-- <p style="color: green;">Need Help ?</p>
<div class="policy"> By signing up or logging in, you aggree to the offerUp
    <span style="color: green;">
        Terms of Service
    </span>and<span style="color: green;"> Privacy Policy</span>
</div>

    <p>Version : 3.34.0(30340002)</p> -->

</div>
</div>