
.fb-login{
    margin-right: 10px;
}
.login-btn{
    width: 48%;
    padding: 6px 0px 6px 45px;
    border: 1px solid #ccc;
}

.login-logo{position: absolute;left: 20px;top: 13px;width: 25px;}
.close-btn{
    float: right;
    min-width: 30px;
    height: 30px;
    padding: 0px;
    line-height: 12px;
    border-radius: 50%;
    outline: none;
}