<html>
<div th:insert="head.html :: head">...</div>
<body>

<div th:insert="menu.html :: menu">...</div>

<div class="container-fluid slider-part">
 <div class="container">
   <div class="row">
    <div class="col-sm-12 no-pm">
	  
	  <div class="col-sm-9">
	   <div class="col-sm-12 no-pm innerleft-body">
	    <img src="images/coupns-banner.png" class="img-responsive"/>
	   </div>
	   <!-- Categorys Modules Start--> 
		<div class="col-sm-12 well well-sm">
			  <div class="col-sm-8">
				 <h2>Coupons</h2>
			  </div>
		   </div>
		 <div class="clearfix"></div>
	   
		<div class="container">
            <div class="col-sm-12 ">
                <noscript>
                    <p>Coupons powered by <a href="https://www.coupons.com?pid=13903&nid=10&zid=xh20&bid=1464620001">Coupons.com</a></p>
                </noscript>
                <script id="scriptId_718x940_58992" type="text/javascript" src="//bcg.coupons.com/?scriptId=58992&bid=1464620001&format=718x940&bannerType=3&channel=https%3A%26%23x2F%3B%26%23x2F%3Bwww.dealsbargain.com%26%23x2F%3Bcoupons">
                </script>
            </div>
            <div class="clearfix"></div>

        </div>
        <div class="clearfix"></div>
        <!-- Categorys Body-->

        <!--END BODY -->
        <!-- END Categorys Modules Start -->
    </div>
    <div class="col-sm-3 no-pm innerright-body white-bg">
								<div class="col-sm-12 no-pm dealalert-bg">
									<form>
										<div class="form-group text-center deal-subscribe">
                                            <h3>Deal Alert</h3>
											<div class="input-group col-sm-12">
                                                <input type="email" class="form-control" name="emailId"
													id="emailId" onfocus="this.placeholder = ''"
													placeholder="Enter Your Email"
                                                    data-error="Enter email address " required/>
                                                 <span
                                                    class="input-group-btn">
                                                    <button class="btn btn-danger" type="button" id="button">
                                                        <i class="glyphicon glyphicon-send" id="sendimg"></i>
                                                    </button>
                                                    <div id="success"></div>
                                                </span>
                                                </div>
                                             <small class="ajaxmsg" id="message"></small>
                                        </div>
                                    </form>
								<!-- <div class="col-sm-12 text-center" >
										<script async="true" src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <!-- stores 
                                <ins class="adsbygoogle"
                                     style="display:inline-block;width:250px;height:600px"
                                     data-ad-client="ca-pub-2849752345881462"
                                     data-ad-slot="7067329839"  onclick="this.target = '_blank';return true;" ></ins>
                                <script>
                                    (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
									</div> -->	
								</div>
							</div>
	 
    </div>
  </div>
 </div>
</div>
 
 
    
 
 

 <script>
/* $(document).ready(function() {
    $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
}); */
 </script>
 <div th:insert="footer.html :: footer">...</div>
</body>
</html>

