                    <!--- --- ORDERS --------  -->
                    <h4>Order History</h4>
                    <div class="order-details py-4" fxLayout="row">
                        <table>
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th>Order Date</th>
                                    <th>Total Quality</th>
                                    <th>Amount Paid </th>
                                    <th>Status</th>
                                    <th>Tracking </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <td>162348148</td>
                                <td>Sunday, September 2019</td>
                                <td>1 Item</td>
                                <td>4500</td>
                                <td>Cancelled</td>
                                <td>#</td>
                                <td><button mat-button class="view-btn">View Details</button></td>
                            </tbody>
                        </table>
                        
                    </div>
                    <!--- --- /#ORDERS --------  -->
     