
    <!--- --- /#ORDERS --------  -->

    <h5 class="mb-4">My Orders</h5>
    
    <ng-container *ngIf="ordersListInfo && ordersListInfo.length ==0">
        Your orders list is empty. 
    </ng-container>
    <div class="order-details py-4" *ngFor="let orderInfo of ordersListInfo">
        <p class="order-id">Order ID : <b>{{orderInfo.order_tracking_id}}</b> </p>
        <!-- <p>Order Date<br> <b>{{orderInfo.created_on | date}}</b> </p> -->
        <!-- <p>Status <br> <b> </b> </p>
        <p>Tracking <br> <b>#</b> </p> -->
        <!--<button mat-button class="view-btn">View Details</button>-->
        
        <div class="review-order" fxLayout="row" *ngFor="let itemdetails of orderInfo.items_info">
            <div class="order-image">
                <img class="image img-cursor" mat-card-image src="{{itemdetails.image}}" alt="photo"
                        (click)="showProductDetails({cname:itemdetails.category,scname:itemdetails.subcategory,pid:itemdetails.item_id})">
                <!-- <img src="{{itemdetails.image}}"> -->
            </div>
            <div class="review-order-details">
                    <div class="order-cycle">
                            <mat-horizontal-stepper #stepper labelPosition="bottom">
                                <mat-step>
                                    <ng-template matStepLabel>
                                       <h6>Order placed</h6>
                                    </ng-template>
                    
                                    <p>Delivery <b>by Sun, Dec 15, 2019</b></p>
                                    <p>Amount Payable <b>Rs.359</b></p>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <h6>Packed</h6>
                                    </ng-template>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>
                                        <h6>Shipped</h6>
                                    </ng-template>
                                    <p>Delivery by <b>Monday,dec 10,2018</b></p>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel><h6>Delivered</h6></ng-template>
                                </mat-step>
                            </mat-horizontal-stepper> 
                        </div>d
                <div class="product-name">{{itemdetails.title}}</div>
                <div class="product-size">Qty : {{orderInfo.items_info.length}} Items </div>
                <div class="product-price"> {{PRICE_PREFIX}} {{orderInfo.net_amount}} </div>
                <div class="product-status">Delivered<span>({{orderInfo.created_on | date}})</span></div>
                <button mat-button class="view-btn" (click) = "cancelOrder(orderInfo.order_tracking_id,orderInfo.id,itemdetails)">Cancel</button>
                <button mat-button class="view-btn" (click) = "returnOrder(orderInfo.order_tracking_id,orderInfo.id,itemdetails)">Return</button>
            </div>
              
        </div>
    </div>
                
    
    

     <!-- <div class="step active">
            <h6>Ordered</h6>
            <p>12/12/2018</p>
        </div> 
        <div class="step">
            <h6>Order confirmed</h6>
            <p>12/12/2018</p>
        </div>
        <div class="step">
            <h6>Order Dispatched</h6>
            <p>12/12/2018</p>
        </div>
        <div class="step">
            <h6>Delivered</h6>
            <p>12/12/2018</p>
        </div>       -->