                    <!--- --- ORDERS --------  -->
                    <h4>Order History</h4>
                    <div class="order-details py-4" fxLayout="row">
                        <p>Order ID<br> <b>162348148</b></p>
                        <p>Order Date<br> <b>Sunday, September 2019</b></p>
                        <p>Total Quality<br> <b>1 Items</b></p>
                        <p>Amount Paid <br> <b> 4500</b></p>
                        <p>Status <br> <b>Cancelled</b></p>
                        <p>Tracking <br> <b>#</b></p>
                        <button mat-button class="view-btn">View Details</button>
                    </div>
                    <!--- --- /#ORDERS --------  -->
     