/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700&display=swap');

body{
    background-color: #fafafa;
    font-family: 'Poppins', sans-serif !important;
}
@font-face {
    font-family: 'whitney';
    font-style: normal;
    font-weight: 400;
    src: url('assets/whitney/Whitney-Book.ttf') format('ttf');
}
.mat-button{
    font-family: 'Poppins', sans-serif !important;
}
a, a:hover{
    text-decoration: none;
}
.fa-google-plus-square{
    color: #dd4b39;
}
.fa-instagram{color: #e4405f;}
.content-container{
    max-width: 1400px;
    padding: 0px 15px;
    margin: auto;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}
.fill-remaining-space{

    flex: 1 1 auto;
}
.mat-option{font-size: 14px;height: 40px;}
.controles-container{
    width: 100%;
    padding: 5%;
}
.product-details .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled="true"]), .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled="true"]), .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled="true"]){
    background: transparent !important;
}
.product-details .mat-expansion-panel-header.mat-expanded{
    background-color: #ccc !important;
    border-radius: 0px;
    margin-bottom: 16px;
}
.controles-container > * {
    width: 100%;
}

.mat-step-icon .mat-icon{display: none;}
.product-rating-bar .mat-progress-bar{
    margin: 5px 15px 5px 15px !important;
    height: 20px;
}

.add-bottom-padding{
    padding-bottom: 10px;
}
.purchase-container{
    .mat-horizontal-stepper-header-container{
        width: 567px;
        border-top: 4px solid #9c5f28;
        border-bottom: 4px solid #9c5f28;
        border-radius: 5px;
        box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.6);
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        height: 47px;
        justify-content: space-around;
    }
    .mat-step-label{
        font-weight: 400;
        font-family: poppins;
        font-size: 15px;
        text-transform: capitalize;
        background-color: #fff;
    }
    .mat-step-label-active{
        color: #9c5f28 !important;
    }
    .mat-step-label-selected{
        background-color: #9c5f28;
        color: #fff !important;
    }
    .mat-step-header .mat-step-icon-selected{
        background-color: transparent;
        border: 1px solid #333;
        color: #333;
    }
    .mat-step-label-selected::after{
        content: '';
        position: absolute;
        width: 7px;height: 47px;
        left: 0px;
        top: 0px;
        background: #9c5f28;
    }
    .mat-horizontal-stepper-header{
        height: 39px !important;
        padding: 0px !important;
    }
    .mat-horizontal-stepper-header .mat-step-icon{
        margin: auto 0px auto 15px;
        height: 19px;width: 19px;
        font-size: 11px;
        color: #fff;
        border: 1px solid #fff;
    }
    .mat-step-header .mat-step-label, .mat-step-header .mat-step-label.mat-step-label-active{
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        padding: 0px 16px 0px 40px;
        margin-left: -32px;
    }
    .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
        background-color: #9c5f28 !important;
    }
    .mat-step-header:last-child{
        .mat-step-label{
            &::after{
                display: none;
            }
        }
    }
}
.order-cycle{
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header{
        padding: 10px 30px;
    }
    .mat-horizontal-stepper-header-container{
        align-items: baseline;
    }
    .mat-horizontal-content-container{
        padding: 7px 20px !important;
    }
    .mat-step-icon{
        background-color: rgba(0,0,0,.54);
        width: 14px;
        height: 14px;
    }
    .mat-step-header .mat-step-icon-selected{
        background-color: green;
    }
    .mat-step-label-selected{
        color: green !important;
        font-size: 16px;
    }
    .mat-step-label{
        color: green;
        h6{font-size: 14px;}
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header .mat-step-label{
        padding: 0px;
    }
    .mat-step-icon .mat-icon, .mat-step-icon-content{
        display: none;
    }
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:first-child)::before,
    .mat-stepper-label-position-bottom .mat-horizontal-stepper-header:not(:last-child)::after{
        border-top-width: 3px;
        top: 15px;
        width: calc(50% - 10px);
    }
}
.profile-form .mat-form-field-appearance-outline .mat-form-field-wrapper{
    margin: 0px;
}

.normal-form {
   .mat-radio-button{
        .mat-radio-label{
            position: relative;
            width: 25px;
            &::after{
                content: '\2605';
                font-family: "Font Awesome";
                position: absolute;
                top: -15px;
                left: -2px;
                font-size: 34px;
                z-index: -1;
            }
        
            .mat-radio-label-content{
                font-size: 30px;
                line-height: 20px;
                padding-left: 0px;
            }
            &:hover{
                .mat-radio-label-content{
                    color: transparent;
                    z-index: -1;
                    position: relative;
                }
                &::after{
                    z-index: 99;
                    color: #ff9600;
                }
            }
            .mat-radio-container{
                // visibility: hidden;
                display: none;
            }
        }
        ~ .mat-radio-label{
            position: relative;
            width: 25px;
            &::after{
                content: '\2605';
                font-family: "Font Awesome";
                position: absolute;
                top: -15px;
                left: -2px;
                font-size: 34px;
                z-index: -1;
                color: #ff9600;
            }
        
            .mat-radio-label-content{
                font-size: 30px;
                line-height: 20px;
                padding-left: 0px;
                color: transparent;
                z-index: -1;
                position: relative;
            }
                
            
        }
    }
}
aside .mat-expansion-panel-header.mat-expanded{
    height: 48px !important;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.3);
    border-radius: 0px;
    color: #1b3664;
}
.login-container .mat-checkbox-layout{
    white-space: pre-wrap;
}
.login-container .mat-checkbox-layout .mat-checkbox-label{line-height: 20px;}

.mat-stepper-horizontal-line{display: none;}
.top-toolbar .mat-form-field-appearance-legacy .mat-form-field-underline,
.login-container .mat-form-field-appearance-legacy .mat-form-field-underline{
    height: 0px !important;
    display: none;
}
.promocode-section .mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;
}
.mat-button .mat-button-focus-overlay{
    display: none;
}
.top-toolbar .mat-form-field-appearance-legacy .mat-form-field-wrapper,
.search .mat-form-field-appearance-legacy .mat-form-field-wrapper{
    padding-bottom: 0px !important;
}
.top-toolbar .mat-form-field-appearance-legacy .mat-form-field-infix,
.login-container .mat-form-field-appearance-legacy .mat-form-field-infix{
    border: 0px !important;
}
.top-toolbar .mat-form-field-appearance-legacy .mat-form-field-infix{padding: 0px;}
.cdk-focused.cdk-mouse-focused{
    outline: none;
}
.menu-toolbar mat-expansion-panel{
    box-shadow: none !important;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
    background-color: #ff9600;
}
.megaMenu + * .cdk-overlay-connected-position-bounding-box{
    width: 100%;
    height: 100%;
    top: 0px !important;
    left: 30px !important;
    right: 30px !important;
  }
.review-popup .mat-dialog-container{
    padding: 0px;
}
.login-container .mat-form-field-flex{
    margin-bottom: 5px;
    // border-bottom: 1px solid #666;
}
.address-form .mat-form-field-underline{display: none;}
.mat-menu-content{padding: 0px !important;}
.fa-facebook-official{color: #3b5998 !important;}
.fa-twitter-square{color: #38A1f3 !important;}
.fa-linkedin-square{color:#0e76a8 !important;}
// ---------------- login-container  --------------------
.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    opacity: 0.2 !important;
}
.login-container{
    width: 420px;
    padding: 20px 40px;
    background-color: #fff;
    margin: auto;
    position: relative;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.3);
}
.login-container .mat-form-field{
    font-size: 14px;
}
.login-container .mat-form-field-wrapper{
    padding-bottom: 10px !important;
}
.login-title{
    font-size: 20px;
    margin-bottom: 15px;
    color: #1b3664;
}
.login-container input{
    font-size: 14px;
}
.login-info{
    font-size: 14px;
    font-weight: 300;
}

.login-login-btn{
    background-color: #1b3664 !important;
    color: #fff !important;
    letter-spacing: 1px;
}

.login-links{
    font-size: 13px;display: flex;justify-content: space-between;
    align-items: center;
    .mat-button{padding: 0px;}
}
.login-logo{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 70px;
    background-color:#335292;
}
.gmail-login .login-logo{
    background-color: #c64636;
}
.policy{
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 20px;
}
.checkout-panel .mat-expansion-indicator{
    display: none;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-label{
    color: rgba(0,0,0,0.6);
}
.mat-form-field-infix{
    border: 0px;
}
.otp-section{
    .mat-form-field-wrapper{
        padding: 0px;
        .mat-form-field-infix{
            border: 0px;
        }
    }
}
.error{
    color: red;
    font-size: 14px;
}
.mat-form-field-appearance-outline .mat-form-field-label{
    top: 2.24375em;
}
.mat-form-field-appearance-outline .mat-form-field-outline-start{
    border-radius: 0px !important;
}
.mat-form-field-appearance-outline .mat-form-field-outline-end{
    border-radius: 0px !important;
}
.mat-horizontal-content-container{
    padding: 20px !important;
}

ul.breadcrumb{
    padding: 0px;list-style: none;
    background-color: transparent;
    li{display: inline;position: relative;padding-right: 25px;font-size: 14px}
    li::after{
      content: '>';
      position: absolute;
      right: 9px;
      top: 0px;
    }
    li:last-child{
      &::after{
        content: '';
      }
    }
}
.mat-snack-bar-container{
    background: #c76969 !important;
    color: #fff !important;
}
// common css


@media screen and (max-width:1500px){
    .content-container{
        max-width: 1400px;
        margin: auto;
    }
}
@media screen and (max-width:767px){
    .mat-stepper-horizontal{
        display: none;
    }
}
@media screen and (max-width:575px){
    .purchase-container .mat-horizontal-stepper-header-container{
        display: none;
    }
    .mat-step-label{
        font-size: 10px;padding-right: 15px;
        &::after{
            width: 13px;
        }
    }
    ul.breadcrumb{
        li{padding-right: 13px;font-size: 11px;}
        li::after{
          right: 4px;
        }
    }
    .login-container{
        width: 90%;
        padding: 15px;
    }
    .login-links{
        flex-wrap: wrap;
    }
    .login-title{
        font-size: 16px;
    }
    .login-btn{
        height: 30px;
        line-height: 30px;
        font-size: 13px;
    }
    .login-logo{
        width: 18px;
    }
}