
<!-- <div>
    <ng-container *ngFor="let category of menus">
        <a mat-button [matMenuTriggerFor]="menu" #clickHoverMenuTrigger="matMenuTrigger">{{category.cname}}</a>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let subcategory of category.scnames" class="mainMenu">
                <button mat-menu-item>
                    <a mat-button [routerLink]="['productlist',category.cname.toLowerCase(),subcategory.toLowerCase()]" routerLinkActive="active"> {{subcategory}} </a>
                </button>
            </ng-container>
        </mat-menu>
    </ng-container>

</div>  -->
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" panelClass="magaMenu" backdropClass="megaMenu">
    <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex;">
        <div class="p-2" fxflex="25" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 25%; max-width: 25%;">
            <div class="rel-img">
                <img src="../../../../assets/img/banner5.jpg" class="img-fluid">
            </div>
        </div>
        <div class="p-3 plp-5" fxflex="25" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 25%; max-width: 25%;">
            <a mat-menu-item class="menu-title"><b>WOMEN</b></a>
            <!-- <div class="divider"></div> -->
            <ng-container>
                <button mat-menu-item>Clothing</button>
                <button mat-menu-item>Footwear</button>
                <button mat-menu-item>Accessories</button>
                <button mat-menu-item>Clothing</button>
                <button mat-menu-item>Footwear</button>
                <button mat-menu-item>Accessories</button>
            </ng-container>
        </div>
        <div class="p-3 plp-5" fxflex="25" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 25%; max-width: 25%;">
            <a mat-menu-item class="menu-title"><b>WOMEN</b></a>
            <!-- <div class="divider"></div> -->
            <ng-container>
                <button mat-menu-item>Clothing</button>
                <button mat-menu-item>Footwear</button>
                <button mat-menu-item>Accessories</button>
                <button mat-menu-item>Clothing</button>
                <button mat-menu-item>Footwear</button>
                <button mat-menu-item>Accessories</button>
            </ng-container>
        </div>
        <div class="p-3 plp-5" fxflex="25" fxlayout="column" style="flex-direction: column; box-sizing: border-box; display: flex; flex: 1 1 25%; max-width: 25%;">
            <a mat-menu-item class="menu-title"><b>WOMEN</b></a>
            <!-- <div class="divider"></div> -->
            <ng-container>
                <button mat-menu-item>Clothing</button>
                <button mat-menu-item>Footwear</button>
                <button mat-menu-item>Accessories</button>
                <button mat-menu-item>Clothing</button>
                <button mat-menu-item>Footwear</button>
                <button mat-menu-item>Accessories</button>
            </ng-container>
        </div>
        
    </div>
</mat-menu>


        

    