
<!-- <div>
    <ng-container *ngFor="let category of menus">
            <mat-expansion-panel>
        <mat-expansion-panel-header>
            <a mat-button [matMenuTriggerFor]="menu" #clickHoverMenuTrigger="matMenuTrigger">{{category.cname}}</a>
        </mat-expansion-panel-header>
        <mat-menu #menu="matMenu">
            <ng-container >
                <button mat-menu-item>
                    <a mat-button [routerLink]="['productlist',category.cname.toLowerCase(),subcategory.toLowerCase()]" routerLinkActive="active"> {{subcategory}} </a>
                </button>
            </ng-container>
        </mat-menu>
    </mat-expansion-panel>
    </ng-container>

</div>  -->
<mat-accordion>
<mat-expansion-panel *ngFor="let category of menus">
    <mat-expansion-panel-header>
     {{category.cname}}
    </mat-expansion-panel-header>
  
    
  
    <div *ngFor="let subcategory of category.scnames">
      <a mat-button [routerLink]="['productlist',category.cname.toLowerCase(),subcategory.toLowerCase()]" routerLinkActive="active"> {{subcategory}} </a>
    </div>
  </mat-expansion-panel>
</mat-accordion>